[2018-05-17 13:35] Blpz21 commented on #687
williamelopez21@yahoo.com was the email and username i  was trying to register was Blpz21

[2018-05-17 19:01] puccca commented on #513
Hi @jerkyrs! We managed to be in top 15 for a while and producing blocks. Thanks anyway!

[2018-05-17 22:33] bondibox commented on #760
That has been a constant struggle for me since test net started. I can not tell if it's on my end or the network's. I'm thinking it has to do with something I read a long time back that it would take a witness node 24 hours to sync so maybe they put up these hurdles every 23 hours or whatever so no one can get the full chain in one pop. I used to go back through the commit history looking for a 'b

[2018-05-18 01:31] laxpio opened #768 "restart superNode,the tron Process can not start"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
a.) kill -15(kill -9) the tron process
b.) start tron process ag

2. What did you expect to see?
the tron process start succ.

3. What did you see instead?
a.) the tron process can not start all work thread,listen port...
b.) used a high io util, all is

[2018-05-18 06:56] cccyyc commented on #687
Both email and username are not registered,you can check the network status and try it again.

[2018-05-18 07:10] cccyyc commented on #687
Both email and username are not registered,you can check the network
status and try it again.

On Thu, May 17, 2018 at 9:35 PM, Blpz21 <notifications@github.com> wrote:

[2018-05-18 09:44] zhaohong commented on #768
do you  use (-9) ?

[2018-05-18 09:46] zhaohong commented on #760
please use  master branch, if still have problem, let me know.

[2018-05-18 09:47] zhaohong commented on #751
./gradlew run -Pwitness        not  "./gradlew run -Pwitness=true"

[2018-05-18 11:45] rickythefox commented on #91
Got a few rl commitments to take care of, so I won't be able to lead this. Would love to contribute a bit though.

[2018-05-18 13:02] jerkyrs commented on #760
how is testnet being managed in terms of versions? i commonly see

different p2p version, peer->45, me->65

I was on latest in develop branch, but how does this work if one node is on older tag or not on same tip of master when they compile?

The last tag is 1.0.6.3 on May 11th , Master is updated today

I notice Tronscan.org many functions are currently not operating as expected.

[2018-05-18 13:08] jerkyrs commented on #760
If i pull out MASTER and compile connect to network clean config.conf i get the following error

`
14:06:02.955 INFO  [nioEventLoopGroup-3-2] [HandshakeHandler](HandshakeHandler.java:121) Peer /80.29.83.2:36665 different p2p version, peer->46, me->64
14:06:02.955 INFO  [nioEventLoopGroup-3-1] [HandshakeHandler](HandshakeHandler.java:121) Peer /23.121.134.201:56172 different p2p version, peer->45,

[2018-05-18 13:17] jerkyrs opened #777 "Testnet version INCOMPATIBLE_PROTOCOL"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

Pulled out master and tried to connect to testnet with default config.conf

2. What did you expect to see?
Connections to other nodes but there are variety of other incompatibles nodes

3. What did you see instead?
`14:16:03.633 INFO  [nioEventLoopGroup

[2018-05-18 13:26] mglfnc85 commented on #760
Is it possible tronscan.org is having "down" problems due to  traffic? however after 40 hours this is my screenshot. What do you think? Same problem?
![tronfm](https://user-images.githubusercontent.com/39280042/40237136-d1553460-5aaf-11e8-85ca-16daa0e503f6.JPG)

[2018-05-18 13:28] jerkyrs commented on #541
OOM is not to do with drive full, the Linux kernel will kill a process if the server is out of memory, it will sacrifice one it thinks is less important.

A java heap space is caused by the process attempting to do something which requires more memory then is allocated to the JVM. As per comments above you should pass this into your JVM

`-Xms256m -Xmx4096m`

You can not or should not allocate mor

[2018-05-18 13:32] metjm commented on #760
@mglfnc85 not sure if thats the same problem.

After the network reset 30 minutes ago my node is synced now (only 1700 blocks right now, so not sure if that means its fixed). We'll see if that stays that way and if syncing from 0 is possible in a couple days.

@zhaohong  I used the master branch in most attempts, using the develop one was just a last ditch attempt which didn't help. Either way, I'

[2018-05-18 13:44] jerkyrs opened #779 "Drop connection - the same IP was disconnected recently"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

Started java-tron from master commit ad2e5880d8d597be68099bb7e2bdc074812970c6

2. What did you expect to see?
No errors in relation to dropping connection which is originating from same host

3. What did you see instead?
14:32:54.758 INFO  [nioEventLoop

[2018-05-18 14:44] bondibox commented on #760
I'm afraid if you're at block 1700 you've got bigger problems because the current block is 607. See my issue #580 which I keep coming back to.

[2018-05-18 14:45] metjm commented on #760
yeah, it got reset a couple times today

[2018-05-18 14:55] jerkyrs commented on #760
@mglfnc85 seems to me you are seeing the same as #777 , this version is specified in config.conf , are nodes capable of being on different P2P versions , seems to me if they are they fail on that P2P communication with Incompatible Protocol.

Really someone from TRON team should specify what version of code the Testnet should be running on, do they have a plan around how they update on mainnet ver

[2018-05-18 14:58] mglfnc85 commented on #760
Now it seems to be ok! You need to reset everything and rebuild from master. If you look on config.conf version now is 67. Now is going very fast.

[2018-05-18 15:02] mglfnc85 commented on #760
a lot of bad blocks now, but it is working, I hope...
![tronfm1](https://user-images.githubusercontent.com/39280042/40242153-1a52843a-5abd-11e8-88c2-2e54c94808d2.JPG)

[2018-05-18 15:04] jerkyrs commented on #760
![selection_999 432](https://user-images.githubusercontent.com/10046115/40242276-1c77980c-5ab5-11e8-89a2-d10a423e7c8a.png)

[2018-05-18 15:07] mglfnc85 commented on #760
...and?

[2018-05-18 15:30] jerkyrs commented on #760
well i was on version 64 which was master 2 hours ago..

[2018-05-18 17:23] mglfnc85 opened #782 "Bad blocks without sync"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
Witness node on

2. What did you expect to see?
Normal sync.

3. What did you see instead?
A lot of "bad blocks". It seems it cant sync.

[2018-05-18 19:56] bondibox commented on #760
You're also on block 88783 :-/

[2018-05-18 20:29] jerkyrs commented on #760
Ya latest pull of master they commented out that other witness on its own little solo blockchain expedition. Cleared database and was on the new sequence again

[2018-05-19 08:12] bondibox opened #788 "Trouble with linux builds"
Please follow this issue
https://github.com/gradle/gradle-native/issues/684

[2018-05-19 08:26] jerkyrs commented on #788
They need to implement proper branching model, if they used git-flow and only merged from a release branch into master rather than direct commits to master then builds should always work in master branch. There are a number of commits directly to master.

https://www.atlassian.com/git/tutorials/comparing-workflows/gitflow-workflow

[2018-05-19 09:34] ithinker1991 commented on #782
May you give me your logs? I will check it

[2018-05-19 13:15] bondibox commented on #788
I'm not sure who you are referring to by "they" because both repos are guilty of committing to master.

Just to be clear, I am confident that the problem lies with gradle constant commits that haven't been cross platform tested. Java-tron commits that used to build are now failing and will until next commit (fingers crossed). I think the answer is to freeze to a gradle commit that works so we're n

[2018-05-19 16:47] bondibox commented on #788
Well I was wrong. I got a chance to look closer and java-tron IS frozen to gradle 4.3, but it in turn pulls down nearly 300 libraries.

[2018-05-20 13:24] mglfnc85 opened #792 "WARN BUG: any private key you enter is linked to a wallet"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
I invented a casual private key with the right lenght (64) and it is linked to a wallet.

2. What did you expect to see?
If you create a casual private key you coludn't be linked to any wallet.

3. What did you see instead?
I found that any private key you enter is linked to a wallet. It seems that it needs on

[2018-05-20 13:27] Rovak commented on #792
please move this to https://github.com/tronscan/tronscan-frontend/issues

[2018-05-20 13:27] #792 closed

[2018-05-20 13:28] mglfnc85 commented on #792
ok

[2018-05-20 14:53] pynki commented on #777
[config.conf](https://github.com/tronprotocol/java-tron/blob/develop/src/main/resources/config.conf) defines
p2p {
    version = 67 # 67: testnet; 101: debug
}
 right now.

Consider pulling the repo again because the genesis.block change too2 days ago as far i could see. I ran into a bunch of INCOMPATIBLE_CHAIN errors when connecting to [34rth's](https://tron.34rth.com/) [private testnet](https://

[2018-05-20 22:26] kaankozan opened #793 "dont run pwitness"
Please answer these questions before submitting your issue. Thanks!

install java 8 oracle
[code]
[code]
[code]
i run `./gradlew build -x test` (test aborting because build failed)
Build success

Now copy to config.file in java-tron
[code]
And i edit config.conf in localwitness my private key

And i run `./gradlew run -Pwitness`

But i have a failed message

[code]

What is wrong
Can you help me p

[2018-05-21 03:46] #545 closed

[2018-05-21 05:29] bondibox commented on #793
Let me guess: You're using Ubuntu.

[2018-05-21 08:48] sulabh2020 opened #799 "Able to use tokens from unconfirmed transaction"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
I transferred 10000 TRX to another account for hash #5c081b03e9c73b0475555d714f7177034953e171b2617fe245fd7d35e00c73cb.
After 5 minutes the transaction still shows unconfirmed using the hash but the recipient could able to use that transferred tokens. He then able to send me 1000 trx back from his 10000 trx tha

[2018-05-21 10:51] bondibox commented on #793
I thought so. I opened issue #788 which links to an issue I reported at the gradle project. I think the linux builds are breaking because the gradle libraries (300 of them) are constantly getting updated and it's hit or miss as to whether that will break the java-tron build. But the gradle people didn't think it was a clearly reported bug with reproduceable results (install linux -> clone java-tro

[2018-05-21 10:53] Rovak commented on #799
If this is related to tronscan then please post the issue on https://github.com/tronscan/tronscan-frontend

[2018-05-21 14:42] javatanu opened #802 "currently unable to build java-tron with JDK 8"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
1.Installing java8 showing version
java version "1.8.0_161"
Java(TM) SE Runtime Environment (build 1.8.0_161-b12)
Java HotSpot(TM) 64-Bit Server VM (build 25.161-b12, mixed mode)
2.then clone java-tron from github
3.then checkout branch master
4.pull pro

[2018-05-21 21:28] bondibox commented on #802
If you are using Ubuntu this is a reported problem but one which no one is taking responsibility for. Yes, it stalls at Test number 72 with 26 failed tests. I have been going back and forth with the gradle devs who are more interested in bickering about the syntax of my wording than in actually investigating the problem. My guess is there are 300 libraries that gradle imports and many of them are

[2018-05-21 22:06] kaankozan commented on #802
which system should I use
You are using ubuntu @bondibox

[2018-05-21 23:08] bondibox commented on #802
kaankozan I'm not using anything until someone figures out what the problem is with Ubuntu. If builds fine on Mac os if you're dying to get it running.

[2018-05-22 02:43] laxpio opened #803 "Tron process doing nothing but use high cpu and always in doing GC"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
run tron process as Super Representative.

2. What did you expect to see?
sync block,and try to Produce Block

3. What did you see instead?
the process doing nothing but used high cpu 200% cpu
the mem used 33.9% MEM;
the java process is always in doing G

[2018-05-22 03:36] huzhenyuan commented on #803
The ECDSA library we used is com.madgag.spongycastle.
It will create quite a lot BigInteger object during verify transaction signature, and we can't cache them.

We will optimize the library in future.

[2018-05-22 05:42] javatanu commented on #802
I am using ubuntu 16.04 LTS

On Tue, May 22, 2018 at 8:52 AM, DrKaradenizli <notifications@github.com>
wrote:

[2018-05-22 06:09] javatanu commented on #802
I am following the below steps:

1. install JDK 1.8(oracle jdk 8)
2.using OS Ubuntu 16.04 LTS
3.then in the terminal clone the project

git clone https://github.com/tronprotocol/java-tron.git
4.

cd java-tron

5.

git checkout -t origin/master
6.

./gradlew build

the build result is attached here..after that build gets stop at 89%

On Tue, May 22, 2018 at 11:12 AM, Tanusree Chatterjee <
tanusree.

[2018-05-22 06:19] javatanu commented on #802
![screenshot from 2018-05-22 11-49-11](https://user-images.githubusercontent.com/39491556/40345284-32f3e974-5db6-11e8-82e1-1acd1ff60af3.png)

[2018-05-22 07:38] wuliqi commented on #546
C:\java-tron-develop\src\main\java\org\tron\core\db\api\index\AbstractIndex.java:109: 错误: 不兼容的类型: 无法推断类型变量 F,T#1
            .filter(Iterables.transform(resultSet, AbstractIndex.this::getObject), Objects::nonNull)
                   ^
    (参数不匹配; 方法引用无效
      对于getObject(? super WrappedByteArray), 找不到合适的方法
          方法 AbstractIndex.getObject(byte[])不适用
            (参数不匹配; Object无法转换为byte[])

[2018-05-22 07:39] wuliqi opened #806 "idea build错误"
C:\java-tron-develop\src\main\java\org\tron\core\db\api\index\AbstractIndex.java:109: 错误: 不兼容的类型: 无法推断类型变量 F,T#1
            .filter(Iterables.transform(resultSet, AbstractIndex.this::getObject), Objects::nonNull)
                   ^
    (参数不匹配; 方法引用无效
      对于getObject(? super WrappedByteArray), 找不到合适的方法
          方法 AbstractIndex.getObject(byte[])不适用
            (参数不匹配; Object无法转换为byte[])

[2018-05-22 08:19] Yrp commented on #806
jdk version？

[2018-05-22 08:32] wuliqi commented on #806
jdk1.8.0_171

[2018-05-22 09:08] bondibox commented on #806
Ubuntu 16.04?

[2018-05-22 09:37] wuliqi commented on #806
idea community 2018.1  开发环境

[2018-05-22 09:42] wuliqi commented on #806
我是根据节点搭建文档用idea来build
https://github.com/tronprotocol/Documentation/blob/master/中文文档/波场协议/如何建立节点.md

[2018-05-22 10:06] Yrp commented on #806
Pls run the command：```./gradlew clean build``` (if you compile it under Linux/Mac) or ```gradlew.bat clean build```(if you compile it under Windows),and try it again.

[2018-05-22 12:51] pynki opened #808 "output-directory location"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
running `java -jar ./somePath/to/the/java-tron.jar -c ./some/path/config.conf`

2. What did you expect to see?
expect `output-directory` to be created in the folder ` ./somePath/to/the/`

3. What did you see instead?
`output-directory` is created in `./` and not `./somePath/to/the/`

[2018-05-22 13:20] Yrp commented on #808
you need ```cd ./somePath/to/the/```, then run ```java -jar java-tron.jar -c config.conf```

[2018-05-23 00:12] pynki commented on #808
I know how to prevent this behavior.  That's not the problem.

But is it behavior that brings any advantages? It should either be configurable via the `config.conf` or have a fixed path relative to the `java-tron.jar`.  Just drop the folder where ever the jar was called from seems chaotic.

And btw. the `java-tron.jar` should check if it has write access to the folder it tries to create the `outpu

[2018-05-23 01:39] iiimoon opened #809 "Sync never completes, Error in tron.log file"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

Started the process using the command

java -jar java-tron.jar -p <my privite key>  --witness -c /tmp/java-tron/config.conf & disown

2. What did you expect to see?

I should see sync complete and new block generated

3. What did you see instead?

It's

[2018-05-23 06:38] zhaohong commented on #803
@laxpio  what's your machine type.

[2018-05-23 13:31] lacasseio commented on #337
I suggest installing `openjfx` using `sudo apt-get install openjfx` instead of forcing users to install Oracle JDK 8 as the issue is related to missing JavaFX package. See https://stackoverflow.com/a/19529820.

[2018-05-23 15:13] #788 closed

[2018-05-23 15:17] bondibox commented on #806
Problem Solved
https://github.com/tronprotocol/java-tron/issues/788
Use a 2 core CPU or wait for a fix.

[2018-05-23 17:03] 2tvenom commented on #721
Now i try receive transaction by GetTransactionById. In received data BlockNum is `0`! How generate block hash or block number by transaction data? By `ref_block_num` and `ref_block_hash` this is impossible. Release `Odyssey-v1.1`

[2018-05-24 01:00] laxpio commented on #803
i do isolation,assign 2 cpu（Intel(R) Xeon(R) CPU E5-26xx v3） 4G mem for tron；
Expand to 6 cpu 16G；does not reappear it.

[2018-05-24 01:08] laxpio opened #815 "Sync Block blocked after run a long time"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
run tron process as Super Representative

2. What did you expect to see?
the node sync block to last block

3. What did you see instead?
after run a long time,sync thread are blocked,and Active peers dose not has block Number larger than my node；
when re

[2018-05-24 06:58] deblanco commented on #809
I'm on the same situation, blocked at height 91

[2018-05-24 08:26] zhaohong commented on #808
@pynki  hi, we will add new configuration for db location.

[2018-05-24 08:27] #806 closed

[2018-05-24 08:28] zhaohong commented on #815
could you please give us some log?

[2018-05-24 09:49] wkk13171473832 opened #818 "Can you source code analysis help me!"
There is no source code analysis. It's hard to understand. Can you write an introduction?  Thanks

[2018-05-24 12:48] pynki commented on #808
@zhaohong while on it remember to check if the access rights are OK for the java-tron to run before you try to read/write the database/index folders.

[2018-05-24 13:37] metjm commented on #760
so, update after a week: The node still isn't syncing from zero. The only one that synced successfully for me, was one I ran minutes after the network was reset the last time. Every other node I set up now gets stuck at 91 blocks. I am using the master branch with default settings.

[2018-05-24 17:40] kaankozan commented on #793
it worked #788
Recommended min: 2 core cpu
![img_20180524_203709](https://user-images.githubusercontent.com/38933295/40502093-973acab4-5f92-11e8-8368-2ae050515bdb.png)

[2018-05-24 17:40] #793 closed

[2018-05-25 00:54] iiimoon commented on #809
Thanks, its working fine now, sync is in progress

[2018-05-25 01:39] laxpio commented on #815
01:36:55.874 INFO  [TronJClientWorker-2] [Channel](Channel.java:140) Finish handshake with /47.254.146.147:18888.
01:36:55.875 INFO  [TronJClientWorker-2] [ChannelManager](ChannelManager.java:141) Add active peer /47.254.146.147:18888 | d815d78fb8d28ec9d84249c600b63d9ed08b38630a4c441574434c2211463920c942282db93f7794348bfcb9698d2a509a950fb4c4e3a34ada59d8ec84c10218, total active peers: 9
01:36:55.87

[2018-05-25 02:11] WendySanarwanto commented on #337
Hi @lacasseio ,

Thanks for your feedback. I will retest your suggestion and will get back with the result.

[2018-05-25 03:47] zhaohong commented on #818
if you have any question ,   you can join  our development slack.

[2018-05-25 10:16] bondibox commented on #815
I'm having a similar problem getting over the 20k range of blocks. Usually I can get over a hiccup by restarting. This time I've been running for 24 hours and I don't think it's going any further.

Parsing out just the error messages:

10:13:20.380 ERROR [TronJClientWorker-2] [PeerClient](PeerClient.java:64) connect to 194.3.33.193:18888 fail,cause:connection timed out: /194.3.33.193:18888
10:13:2

[2018-05-25 10:17] kaankozan commented on #815
i have this problem

Try this
ctrl+c stop syncing

And again run

[2018-05-25 10:46] jerkyrs commented on #815
Doesnt't help that most the Nodes in the is network are not properly listening on port 18888 (that is the Read timeout), my node is effectively just acting as backup to all these SuperReps and regular Nodes who dont have a Synced chain. Where is my reward plz?

![selection_999 460](https://user-images.githubusercontent.com/10046115/40540770-2fe1d1ee-6011-11e8-8687-c4beefbd05b2.png)

Based on the e

[2018-05-25 15:21] 2tvenom opened #834 "How get block id or block hash by transaction ID"
Hello
I use wallet client method `GetTransactionById` and receive transaction. But i don't know get block number. RefBlockHash just part of block hash and i can't use in `GetBlockById` and `RefBlockBytes` just two last bytes of long block number. `RefBlockNum` is `RefBlockNum`.  How get block number from transaction data?

Thank you

[2018-05-25 16:05] kaankozan commented on #815
I do not understand the solution

what do i need to do for ubuntu

[2018-05-25 21:09] kaankozan commented on #802
Close comment pls @bondibox say it #788

[2018-05-26 03:05] bondibox commented on #815
For the longest time I was unable to get past block 23,000
The solution:
8 CPU Cores
32 GB Memory

I think all the blocks up to 21,000 were empty, so CPU goes way up at 21,000

[2018-05-26 06:34] jerkyrs commented on #815
well i setup another node just to test if it would sync, after about 12 hours it still has a 0 block height and seems not to want to sync further

<img width="757" alt="2018-05-26 14_31_45-tronscan" src="https://user-images.githubusercontent.com/10046115/40573290-0a369e92-60b7-11e8-9b24-eb7583297282.png">

[2018-05-26 07:11] jerkyrs opened #835 "[BOUNTY] - Unhandled exception Witness Manager"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

Run witness node on from Master commit c4f4e1ff08ce67aa50029aa6352c2940b497a863

2. What did you expect to see?

No Error

3. What did you see instead?
[code]

[2018-05-26 11:40] wuliqi opened #840 "java -jar java-tron.jar error"
root@ip-172-31-95-112:/home/java-tron/build/libs# java -jar java-tron.jar -p FB06CC918404E4BEF81FF8****** --witness -c  /home/java-tron/build/libs/config.conf
11:36:24.066 INFO  [main] [o.t.p.FullNode](FullNode.java:21) Full node running.
11:36:24.794 INFO  [main] [o.t.c.c.a.Args](Args.java:461) Bind address wasn't set, Punching to identify it...
11:36:26.004 INFO  [main] [o.t.c.c.a.Args](Args.jav

[2018-05-26 13:41] iiimoon commented on #815
the same problem for me, i have to kill the process after every few hours and start again to progress the sync.

[2018-05-26 19:19] oroblu commented on #815
same problem: seems it BAN ip without any reason:

20:09:46.754 INFO  [main] [o.t.p.FullNode](FullNode.java:21) Full node running.
20:09:47.349 INFO  [main] [o.t.c.c.a.Args](Args.java:508) Bind address wasn't set, Punching to identify it...
20:09:47.647 INFO  [main] [o.t.c.c.a.Args](Args.java:512) UDP local bound to: 192.168.0.206
20:09:47.649 INFO  [main] [o.t.c.c.a.Args](Args.java:527) External

[2018-05-26 19:21] oroblu commented on #815
20:10:02.579 INFO  [pool-9-thread-1] [SyncPool](SyncPool.java:133) address: 18.204.117.182:18888, ID:eaf40dca NodeStat[reput: 71(0), discover: 1/1 0/0 2/2 0/0 101ms, p2p: 0/0/0 , tron: 0/0
20:10:02.579 INFO  [pool-9-thread-1] [SyncPool](SyncPool.java:133) address: 127.0.0.1:18888, ID:ba31a067 NodeStat[reput: 51(0), discover: 1/1 1/1 0/0 0/0 6ms, p2p: 0/0/0 , tron: 0/0
20:10:02.579 INFO  [pool-9-th

[2018-05-26 21:31] jerkyrs commented on #815
@oroblu i saw the same with #779 once the latest 1.0.6.3 tag was released which included some DDOS protection

[2018-05-27 00:56] iiimoon commented on #818
@zhaohong can you send me development slack invite, I also want to join.

[2018-05-27 05:56] zhaohong commented on #834
block num is not including in  transaction data.

[2018-05-27 06:28] zhaohong commented on #760
@metjm  sill not work?

[2018-05-27 06:30] zhaohong commented on #835
@olenheim  follow this

[2018-05-27 06:34] zhaohong commented on #541
@wind4869  to provide a startup script.

[2018-05-27 06:36] zhaohong commented on #840
@lvs007  follow this.

[2018-05-27 06:43] zhaohong commented on #818
the link
https://join.slack.com/t/tronfoundation/shared_invite/enQtMzAzNzg4NTI4NDM3LTAyZGQzMzEzMjNkNDU0ZjNkNTA4OTYyNTA5YWZmYjE3MTEyOWZhNzljNzQwODM3NDQ0OWRiMTIyMDhlYzgyOGQ

this link is also in the readme doc of java-tron.

[2018-05-27 06:48] zhaohong commented on #808
https://github.com/tronprotocol/java-tron/pull/839

[2018-05-27 07:01] Yrp commented on #566
hi, @deanrobin Is there still a OutOfMemoryError problem?

[2018-05-27 07:19] wind4869 commented on #808
@pynki Hi, we think it's intuitive to put `output-directory` just in the path where you run `jar jar ...` command, rather than in the path where the jar file put. But we add detailed configurations for each database, including path and levelDB options.

[2018-05-27 18:35] iiimoon commented on #818
tried the link but it's not active
------------
This invite link is no longer active.
If you have an @tronlab.com email address, you can still create an account.

If not, please check with the person who shared the invite link with you to ask for an invitation.

-----------------

[2018-05-27 19:09] KenjiroAI opened #857 "[Help] Tapos check error"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
I want to create new transaction in Node with below code
[code]

2. What did you expect to see?
Transaction broadcast and transaction included in block

3. What did you see instead?
Transaction not included in block and return tapos error
`{ result: false, code: 6, message: 'VGFwb3MgY2hlY2sgZXJyb3I=' }`

Base6

[2018-05-27 21:53] jerkyrs commented on #815
you guys ever get your node to sync, my newest node never synced and i think its probably confused as to which chain to actually sync (there are nodes out there in the network  on there own little expeditions)

[code]

[2018-05-27 21:54] jerkyrs commented on #835
This happens with an extra comma in witnesses

[code]

[2018-05-27 22:09] jerkyrs commented on #815
seems like i missed something over the weekend... we are on a completely new block height again i guess testnet was reset.

[2018-05-28 04:10] wubin12 commented on #815
there are some sync problems，and it was solved in the latest code！

[2018-05-28 04:11] #815 closed

[2018-05-28 04:18] wubin12 commented on #782
Bad blocks can cause disconnection, block sync problem was solved in the latest code

[2018-05-28 04:18] #782 closed

[2018-05-28 04:27] wubin12 commented on #777
it is caused by different version

[2018-05-28 04:27] #777 closed

[2018-05-28 04:49] wubin12 commented on #760
sync problems  has been solved in the latest code. but now, if your clock is not synchronized, block verification may fail, this phenomenon will still exist

[2018-05-28 04:49] #760 closed

[2018-05-28 09:03] 2tvenom commented on #834
then how check transaction confirmation by hash?

[2018-05-28 13:02] jerkyrs commented on #760
@wubin12 what latest code out of master or a tag? Can we agree on tags, network should be notified to what version we should all run. Master is different from day to day unless only a tagged release is generated from tip of master when ever a merge from develop occurs.

For example latest tag is 1.1? 1.0.6.3 or 3.1?

[2018-05-28 13:15] metjm commented on #760
Can confirm that the current master branch synced from scratch within minutes. Thanks guys

[2018-05-28 17:13] jerkyrs commented on #815
i can confirm this works as expected on commit ac4f33a25015c201fecad3e1cfa54507cc0a9ef4

The sync of the 36000 odd blocks took a couple minutes, this is a significant fix because my worry was not having nodes be able to sync back to head block.

[2018-05-28 18:07] Rovak commented on #635
Token names are now unique.

@zergweak @zhaohong https://github.com/tronprotocol/java-tron/blob/develop/src/main/java/org/tron/core/actuator/AssetIssueActuator.java#L153 should also check for unique `Abbreviation` for the `abbr` field https://github.com/tronprotocol/protocol/blob/master/core/Contract.proto#L86

[2018-05-29 03:09] zhaohong commented on #857
@renchenchang

[2018-05-29 03:15] zhaohong commented on #815
@jerkyrs  thanks your feedback. 👍

[2018-05-29 04:03] olenheim commented on #835
OK, we will check config in the next version

[2018-05-29 04:03] #835 closed

[2018-05-29 04:04] #803 closed

[2018-05-29 04:05] #802 closed

[2018-05-29 04:05] #799 closed

[2018-05-29 04:27] olenheim commented on #857
You must  set a refBlockHash in your transaction. this hash should be one of  recent 65535 block's.

[2018-05-29 04:28] #768 closed

[2018-05-29 04:28] #363 closed

[2018-05-29 04:28] #295 closed

[2018-05-29 04:28] #171 closed

[2018-05-29 05:10] Ampakinetic commented on #857
I'm getting this same error in the https://tronscan.org/#/account wallet when I try to send some test net coins to a wallet - is this a known problem?

[2018-05-29 06:10] bondibox commented on #840
Can't say this is the problem, but the NodeManager test fails when you have less than 2 cores. If you only have 2 cores and less than 32 GB of Ram you might be running into a resource problem. If you are able to bump up the configuration it might help narrow down the problem.

[2018-05-29 06:37] wuliqi commented on #840
好的， java-tron的开发环境建议使用什么样的机器配置？

[2018-05-29 07:51] KenjiroAI commented on #721
@taihaofu Thank you for your help.

I have successful to get block hash by using SHA256 in block header and transaction by using SHA256 in transaction raw data bytes

For anyone who interested in calculate block hash and transaction hash in Node.js, this code below is solution.
[code]

[2018-05-29 07:51] #721 closed

[2018-05-29 07:55] KenjiroAI commented on #857
@olenheim Thank you for you help.

I have successfully broadcast transaction to network by set refBlockHash and refBlockBytes in transaction.

[code]

[2018-05-29 07:55] #857 closed

[2018-05-29 07:59] KenjiroAI opened #868 "How to join slack group?"
**1. What did you do?**
I want to join slack group to ask some question.

**2. What did you expect to see?**
I see Slack link in README, but invite link is no longer active
`https://tronfoundation.slack.com/join/shared_invite/enQtMzAzNzg4NTI4NDM3LTAyZGQzMzEzMjNkNDU0ZjNkNTA4OTYyNTA5YWZmYjE3MTEyOWZhNzljNzQwODM3NDQ0OWRiMTIyMDhlYzgyOGQ`

**3. What did you see instead?**
Please update invite link in RE

[2018-05-29 08:30] KenjiroAI opened #869 "[Question] Bandwidth consumption"
**1. I was wondering about what happened. How does it work?**

In Tron wiki, it have reference some information about bandwidth consumption.

`All contracts consume bandwidth, including transfer, migration of asset, voting, freezing balance, etc. Inquiries do not consume bandwidth while for every contract about 100,000 bandwidths is consumed.`

From the above sentence it means that the transfer co

[2018-05-29 09:04] KenjiroAI opened #870 "Can't get transaction by GetTransactionById"
**1. What did you do?**
I want to get transaction by using getTransactionById method via gRPC from full node and no result return.

For example, I want to get this transaction
(https://tronscan.org/#/transaction/4cf062d8a2eb8961a9b72c792fe61928d7ca1be7a5ccaecd2e53a545e1068b27)

I have been trying to set `value` as
- Base64 from hex hash: `TPBi2KLriWGptyx5L+YZKNfKG+elzK7NLlOlReEGiyc=`
- Raw hex has

[2018-05-29 11:14] deanrobin commented on #566
@Yrp  HI, I just run lastest code about two days. That's very good.
I think it hasn't that problem and you can close it.

[2018-05-29 11:17] deanrobin commented on #566
By the way, Document write very good, But I think may be write some comments or note in code that is better for us.Like parameter calculation unit.

[2018-05-29 14:31] 2tvenom opened #877 "Events about new blocks and transactions"
How receive events about new blocks? I implement tron node protocol, made handshake and response to PING, but not receive new block or transactions. I don't want `fetch` or `sync` blocks, just receive new blocks. This can do tron node protocol?
Thank you

[2018-05-29 19:42] pborgen opened #879 "Add eclipse support in the gradle file"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
I ran the following command "gradlew eclipse"

2. What did you expect to see?
I expected that the eclipse metadata files would get created so i could open the java-tron project in eclipse

3. What did you see instead?
the gradle file does not apply the e

[2018-05-29 22:30] metjm commented on #760
And it seems the bug is back. 1022511 is the block my nodes get stuck on now. Tried twice, both default settings and compiled from scratch. @wubin12

[2018-05-29 22:50] jerkyrs commented on #760
@metjm I think network is forked on purpose by tron team. Look at the block height of the nodes and block height of super reps. A SR is a node but there is not one node anywhere near the same block height reported by SR on tronscan.org.

My bet is they are testing these 27 nodes for throughput as block height is high  after only being reset the other day , my perception is community nodes are not

[2018-05-30 04:08] olenheim commented on #877
If you don't sync blocks, your data would not be same with the other nodes' data, you couldn't check a new block or transaction's validity.  If you only want know a node's event about new blocks you can use GRPC to get.

[2018-05-30 04:18] zhaohong commented on #879
thanks
but this pr break the build.
https://github.com/tronprotocol/java-tron/pull/880 .

[2018-05-30 06:33] iiimoon opened #887 "Build failing with $ sonar-scanner sonar-scanner: command not found"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

Build after merge commit

2. What did you expect to see?

Build successful

3. What did you see instead?

Can someone help to check why my builds are failing?

https://travis-ci.org/tronprotocol/java-tron/builds/385538666?utm_source=github_status&utm_me

[2018-05-30 07:09] macleanliu opened #889 "git checkout failed"
root@localhost:~# git clone https://github.com/tronprotocol/java-tron.git
Cloning into 'java-tron'...
remote: Counting objects: 51413, done.
remote: Compressing objects: 100% (192/192), done.
remote: Total 51413 (delta 75), reused 198 (delta 44), pack-reused 51138
Receiving objects: 100% (51413/51413), 7.86 MiB | 2.61 MiB/s, done.
Resolving deltas: 100% (23541/23541), done.
Checking connectivity..

[2018-05-30 08:15] zhaohong commented on #879
It's not your reason,  we will fix this later.

[2018-05-30 08:16] zhaohong commented on #887
It's not your fault,  we will fix this later.

[2018-05-30 09:30] jerkyrs commented on #889
@macleanliu did you change into directory *java-tron* using  "cd java-tron*

[2018-05-30 13:13] oroblu opened #903 "Cannot write blocks as witness"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?

I'm a superdelegate (27WvBazCE39iLkX2LRvUXBCm2NPAfCLk8fK)  and i'm try to write blocks

2. What did you expect to see?

be in sync and write blocks

3. What did you see instead?
Blocks sync but i cannot write (i attach startup log)
[tron.log](https://github.com/tronprotocol/java-tron/files/2054024/tron.log)

[2018-05-30 13:17] oroblu commented on #903
[tron_2.log](https://github.com/tronprotocol/java-tron/files/2054043/tron_2.log)
this is when block sync complete

[2018-05-30 15:25] pborgen commented on #889
The checkout worked. Must be user error

[2018-05-30 16:12] kaankozan commented on #903
How do it can you write

[2018-05-30 19:33] deblanco opened #904 "[BOUNTY] Incorrect timestamps getting Transactions via gRPC"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
I get a Transaction via gRPC with getTransactionById or getTransactionsFromThis for example, and the transactions received comes with an incorrect timestamp format.

2. What did you expect to see?
Unix epoch timestamp in millis

3. What did you see instead?
I'm receiving timestamps with more zeroes than normal

[2018-05-30 21:30] bondibox commented on #903
It looks ok to me based on this line
`Ready to broadcast block`

[2018-05-30 21:40] oroblu commented on #903
now it all stucked on block 63, full or witness, build, rebuild...nothing
It happen to many people right now.

[2018-05-30 21:47] oroblu commented on #903
[tron.log](https://github.com/tronprotocol/java-tron/files/2055757/tron.log)

[2018-05-30 21:48] kaankozan opened #905 "Last block 63 and dont contiune"
Tonight 3x clean server again build and run full node

But not synching

Try to synching but last block 63 dont contiune

What is problem can you help me

[2018-05-31 00:32] kookiekrak commented on #889
@macleanliu

As @jerkyrs said, when you `git clone`, it'll create a new directory `java-tron`.

You'll need to `cd java-tron` before running the `git checkout -t origin/master` command.

Hope that helps solve the issue 👍

[2018-05-31 01:39] iiimoon commented on #905
The same issue, I am using Odyssey-v2.0

[2018-05-31 03:55] Ampakinetic commented on #905
Yes same here, stock on block 63

[2018-05-31 04:32] kaankozan commented on #905
So what should I do

[2018-05-31 05:58] deblanco commented on #905
`01:56:25.363 INFO  [pool-16-thread-1] [o.t.p.SolidityNode](SolidityNode.java:88) sync solidity block, lastSolidityBlockNum:63, remoteLastSolidityBlockNum:19202
01:56:25.383 INFO  [pool-16-thread-1] [o.t.c.w.WitnessController](WitnessController.java:207) scheduledWitness:a0149b27b39bdbb29ef2b8dae4575296f4d5ba0f96, currentSlot:509225546
01:56:25.396 ERROR [pool-16-thread-1] [o.t.c.d.Manager](Manage

[2018-05-31 07:08] kaankozan commented on #905
kaankozan05@tron-1:~/java-tron/build/libs$ ls
config.conf  java-tron.jar  logs  output-directory
kaankozan05@tron-1:~/java-tron/build/libs$ sudo java -jar So
lidityNode.jar -c config.conf
Error: Unable to access jarfile SolidityNode.jar
kaankozan05@tron-1:~/java-tron/build/libs$

[2018-05-31 07:59] oroblu commented on #903
switched to block 63 problem

[2018-05-31 07:59] #903 closed

[2018-05-31 08:00] dametts opened #908 "Quick start url not found"
http://wiki.tron.network/en/latest/Quick_Start.html

This url is not exist.

https://puu.sh/AwlHq/ed52c37e56.png

[2018-05-31 08:11] zhaohong commented on #905
there is bug here ,  please use the master code.

[2018-05-31 08:12] zhaohong commented on #908
@HaoqiZhao  follow this.

[2018-05-31 10:55] jerkyrs commented on #905
@zhaohong i am on Odyssey-v2.01 and i am on block 63, seems like fork again, how do we avoid this, how does a node know which chain to sync, id assume it uses Seed List to initialize but that assumes Seedlist is forked itself

[2018-05-31 12:55] 2tvenom commented on #905
same on `Odyssey-v2.0.1`

[2018-05-31 13:09] zhaohong commented on #905
@jerkyrs   the testnet has bug and produce wrong block,  Odyssey-v2.0 fix it  and Odyssey-v2.0 can not sync the block on testnet.

[2018-05-31 13:20] oroblu commented on #905
how to change from testnet to mainnet or viceversa?
Which parmater we need to change in config file?

[2018-05-31 13:52] jerkyrs commented on #905
@zhaohong is there plan to upgrade testnet to 2.0.1? Would make sense to have testnet ahead of mainnet :)

@oroblu im assuming it is config.conf but it would also make sense that in changing it from type = testnet to type = mainnet that they would also need to change the ip.list which is used to seed the network to give your node information how to join. Just changing the type alone is not suffici

[2018-05-31 15:28] kaankozan commented on #905
Fix it problems#915

[2018-05-31 15:28] #905 closed

[2018-06-01 01:51] iiimoon opened #921 "testnet version"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

Running the Odyssey-v2.0

2. What did you expect to see?

I expect it connect to testnet at https://tronscan.org

3. What did you see instead?

I don;t find my IP listed in nodes

How to find out version running on https://tronscan.org  ?  Is there any

[2018-06-01 03:07] ithinker1991 commented on #921
@iiimoon  you can change your config.conf and try again

net {
  type = mainnet
  # type = testnet
}

p2p {
    version = 10000 # 10000: mainnet; 71: testnet
  }

[2018-06-01 04:42] iiimoon commented on #921
Thanks !  I tried it but it's giving an error , can you share any working config.conf .

Here is the error

Exception in thread "main" java.lang.IllegalArgumentException: The address(null) must be a 21 bytes.
	at org.tron.core.config.args.Account.setAddress(Account.java:51)
	at org.tron.core.config.args.Args.createAccount(Args.java:411)
	at java.util.stream.ReferencePipeline$3$1.accept(ReferencePi

[2018-06-01 04:50] thomsonimjd opened #923 "How to use this coin in my exchange platfrom?"
I have been devloping an crypto exchange and trading platfrom where I have used 10 coins as of now, I would like to add this coin too? I want following functionalties to be automated in my impl. create new account/address, get balance, transfer balance, import/export privatekey. How to run this tether coin and achieve those functionalties? Please let me know if there is any testnet faucet for this

[2018-06-01 06:37] ithinker1991 commented on #921
On branch master, the newest config.conf
[code]

[2018-06-01 08:57] wuliqi opened #928 "奥德赛2.0build error"
at org.springframework.beans.factory.support.DefaultListableBeanFactory.doResolveDependency(DefaultListableBeanFactory.java:1069)
                                    at org.springframework.beans.factory.support.DefaultListableBeanFactory.resolveDependency(DefaultListableBeanFactory.java:967)
                                    at org.springframework.beans.factory.annotation.AutowiredAnnotationBean

[2018-06-01 10:15] zhaohong commented on #928
hi， what's your system.

[2018-06-01 14:50] zhaohong commented on #868
@HaoqiZhao

[2018-06-01 14:53] zhaohong commented on #923
https://tronscan.org/  the testnet

[2018-06-01 14:55] zhaohong commented on #840
@wuliqi  mac pro is good for develop.

[2018-06-01 16:14] macleanliu commented on #889
then you should update the document:
master branch: more stable than develop. In the shell command, type:
git clone https://github.com/tronprotocol/java-tron.git
git checkout -t origin/master

[2018-06-01 23:09] helloworldservices commented on #928
same error after syncing to Odyssey-v2.0. Had a successful build a couple of weeks ago.
small instance, Ubuntu 16.04 LTS

[2018-06-01 23:33] iiimoon commented on #921
Thanks.

I think we should display the https://tronscan.org   testnet/mainnet versions under tools -> system menu. It is not possible to find out public testnet version unless you are part of core development team or may be it is shared on slack.

Also it would be great if you can send me slack link ( the one in readme is not working ).

[2018-06-02 00:49] iiimoon commented on #921
After using config file from master branch, the node is not coming up, I am using 2.0

Error in log

pplicationContext.java:544) Exception encountered during context initialization - cancelling refresh attempt
org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'rpcApiService': Injection of autowired dependencies failed; nested exception is org.springframework.be

[2018-06-04 02:12] wuliqi commented on #928
对的，系统环境以前正常，更新至2.0就编译错误 ，可以尝试多删除，再下载，再编译，又可以编译成功！！！

[2018-06-04 03:38] olenheim commented on #877
yes. If you don't want to run a FullNode to sync data, it's the only way to get events. because  other nodes only broadcast data to that they think it is synchronous with them.  If you want a listener interface in java-tron. it's another issue.

[2018-06-04 04:00] zhaohong commented on #928
@helloworldservices  do you still have problem?

[2018-06-04 04:08] zhaohong commented on #889
@macleanliu thanks!

[2018-06-04 04:08] #889 closed

[2018-06-04 04:09] zhaohong commented on #869
seem the doc is a little old.

[2018-06-04 04:10] #706 closed

[2018-06-04 08:06] tronmarcus commented on #399
Hi, miimiispets
I am pleased to inform you that you are rewarded TRX from Tron Foundation for your contribution in our Bug Bounty Program in May 2018. Please provide a valid account address that can receive the TRX reward.
Please send the address to my email yanghe@tron.network  so we can deliver the TRX on time.
Thanks,
Marcus Yang

[2018-06-04 08:09] tronmarcus commented on #444
Hi, @bloc4ain Alex,
I am pleased to inform you that you are rewarded TRX from Tron Foundation for your contribution in our Bug Bounty Program in May 2018. Please provide a valid account address that can receive the TRX reward.
Please send the address to my email yanghe@tron.network so we can deliver the TRX on time.
Thanks,
Marcus Yang

[2018-06-04 08:26] nfleury commented on #711
I was actually thinking that the return results were stored. I expected that retrieving a block with gRPC and the associated transaction would give me the return result list associated with it, but that information doesn't seems to be stored.

My understanding now is that those return results in transactions are intended only for when we broadcasting a transaction, am I right ?

Seems that the onl

[2018-06-04 10:32] oroblu opened #936 "Question: is it possible to load balance a witness node?"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?

Looking for a way to provide load balancing  to a witness node.

2. What did you expect to see?
Find a method to distribuite load of a single witness node among different server

3. What did you see instead?
It's a question

[2018-06-04 11:32] helloworldservices commented on #928
Yes, same error. It looks like some packages may be missing on the system, but not sure which. Is there a channel where the setup can be discussed? The invite to Slack in the README has expired.

[2018-06-04 14:31] oroblu commented on #936
Let say there isn't any native way to load balance and for HA a background third part hardware or software replication is needed.
Right?

[2018-06-04 20:32] kookiekrak commented on #928
@helloworldservices please email tian@tron.network with your email for an invite to the slack.

[2018-06-04 22:54] marcusyanghe commented on #546
Hi, @endeavors,
(Just in case, my last comment of the same content may not be shown to you, since my prev account was flagged by GitHub spam system, so I am using this account to repost the same comment)
I am pleased to inform you that you are rewarded TRX from Tron Foundation for your contribution in our Bug Bounty Program in May 2018. Please provide a valid account address that can receive the T

[2018-06-04 22:55] marcusyanghe commented on #443
Hi, @L--7 ,
I am pleased to inform you that you are rewarded TRX from Tron Foundation for your contribution in our Bug Bounty Program in May 2018. Please provide a valid account address that can receive the TRX reward.
Please send the address to my email yanghe@tron.network so we can deliver the TRX on time.
Thanks,
Marcus Yang

[2018-06-04 22:57] marcusyanghe commented on #566
Hi, @deanrobin
I am pleased to inform you that you are rewarded TRX from Tron Foundation for your contribution in our Bug Bounty Program in May 2018. Please provide a valid account address that can receive the TRX reward.
Please send the address to my email yanghe@tron.network so we can deliver the TRX on time.
Thanks,
Marcus Yang

[2018-06-04 22:58] marcusyanghe commented on #835
Hi, @jerkyrs
I am pleased to inform you that you are rewarded TRX from Tron Foundation for your contribution in our Bug Bounty Program in May 2018. Please provide a valid account address that can receive the TRX reward.
Please send the address to my email yanghe@tron.network so we can deliver the TRX on time.
Thanks,
Marcus Yang

[2018-06-05 04:05] LeetJoe commented on #923
@zhaohong well then how to get test bonus? the balance is always 0.
It is testnet, really? How to check it is testnet or mainnet?
I am always confused.

[2018-06-05 04:42] #566 closed

[2018-06-05 07:31] zhaohong commented on #936
fullnode can charge for the load balance and sr node behind the fullnode.

[2018-06-05 08:47] mboyer85 opened #946 "[BOUNTY] Possible problem with negative amount (not checked) on transfert"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
I did not test, but I just read the code in TransfertActuator (idem in TransfertAssetActuator) :
 dbManager.adjustBalance(ownerAddress, **-amount**);
If the amount is negative what happens ?

2. What did you expect to see?
Must be checked for positive value

3. What did you see instead?
No check for positive v

[2018-06-05 10:16] mboyer85 commented on #946
Invalid

[2018-06-05 10:16] #946 closed

[2018-06-05 10:22] mboyer85 commented on #946
in Validate
 if (amount <= 0) {
      throw new ContractValidateException("Amount must greater than 0.");
    }

[2018-06-05 10:34] oroblu commented on #936
ok thanks

[2018-06-05 10:34] #936 closed

[2018-06-05 21:44] kookiekrak commented on #818
@iiimoon Hi, please email me at tian@tron.network for a slack invite!

[2018-06-05 22:40] jerkyrs commented on #835
@tronmarcus @marcusyanghe i sent email from s********es@k******.com

[2018-06-06 11:21] 2tvenom commented on #923
same question. tronscan is testnet? it seems like mainnet

[2018-06-06 22:37] #908 closed

[2018-06-06 22:38] kookiekrak commented on #868
My email is also on the Readme now :)

[2018-06-06 22:38] #868 closed

[2018-06-07 03:38] thomsonimjd commented on #923
@LeetJoe please let me know any documentation to run TRON node and its json rpc method api call list?

[2018-06-07 04:16] #879 closed

[2018-06-07 04:42] iiimoon commented on #928
is it resolved? I have a similar problem - https://github.com/tronprotocol/java-tron/issues/921

[2018-06-07 04:58] taihaofu opened #956 "Get unexpected ban connection when transaction broadcast before produce blocks."
Please answer these questions before submitting your issue. Thanks!
Get from our testing team.
1. What did you do?
If possible, provide a recipe for reproducing the error.
We have 3 witness nodes. Use a Wallet to create an Asset on one witness first, then do a transfer based on this Asset. We can also see BAD_TX on all witness nodes. And this lead to a Ban connection between the first witness and

[2018-06-07 05:57] Yrp opened #957 "a bad transaction make the witness don't product block"
the witness recive a block that has a bad transaction, after the block push into khaosDB,  handling the bad transaction will make program throw exception.
when the witness product a block, khaosDB will return the block with the bad transaction.

[2018-06-07 05:58] Yrp commented on #957
when handling the bad transaction make program throw exception, khaosDB should modify its head.

[2018-06-07 07:26] JokerCatz opened #958 "How to sign transaction from offline node and broadcast to online node?"
How to sign transaction from offline node and broadcast to online node?

If I install `tron-java` to 2 vm , run it as offline main chain & online main chain , then I use `grpc-gateway` as JSON-RPC proxy , then I read like this

http://wiki.tron.network/en/latest/Account_Management.html#transition-manual-for-exchanges-and-trx

I can generate the private key from random hex & convert it to public ke

[2018-06-07 09:33] wangzichichi opened #959 "SolidityNode didn't synchronize Block when create several witness"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
------On beat env, there are five witness, I create several witness by money(use 9999 TRX to create a witness)

2. What did you expect to see?
No matter how many witness I created, the solidityNode can synchronize the block from fullnode normally.

3. Wh

[2018-06-07 09:33] wangzichichi commented on #959
This issue is solving by taigohu.

[2018-06-07 14:32] KenjiroAI commented on #868
Thank you

[2018-06-07 16:23] dbriggsie opened #967 "[BOUNTY] CENTOS 7 Builds Fail to Run bug?"
Please answer these questions before submitting your issue. Thanks!

**1. What did you do?
If possible, provide a recipe for reproducing the error.**
I have tried to build on 3 different CENTOS 7 Machines. 1 small, 1 medium & 1 large cpu.
Not one of them has executed after build... by running
`./gradlew run`

**2. What did you expect to see?**
I expected to see the node run.

**3. What did you see

[2018-06-07 16:29] dbriggsie commented on #967
Forgot to add, the `./gradlew build` is successful on all machines running CENTOS 7.
Just never executing using `./gradle run`

[2018-06-07 20:03] helloworldservices commented on #928
It's resolved for me with a dedicated, mutli-CPU instance and 2.0.1 build. All tests passed, 1 skipped.

[2018-06-08 01:57] Crypto2 commented on #923
I've been looking for docs as well, doesn't seem there are any good docs or tutorials out yet.

[2018-06-08 04:27] #80 closed

[2018-06-08 04:27] #91 closed

[2018-06-08 04:28] #513 closed

[2018-06-08 04:29] #453 closed

[2018-06-08 04:29] #517 closed

[2018-06-08 04:29] #446 closed

[2018-06-08 04:30] #506 closed

[2018-06-08 07:03] balajivs96 opened #970 "How to deploy the smart contract in testnet"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
I  try to deploy the  **solidity** smart contract in tron test net and then any possibilities to run the solidity smart contract deploy in tron test net if  you have a any possibilities mean give the idea to me

2. What did you expect to see?
i want to deploy the solidity smart contract  in tron test net

3. W

[2018-06-08 07:19] #956 closed

[2018-06-08 09:25] sevvandhiNagulan opened #973 "How to deploy Solidity smart contract in tron"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
I try to deploy solidity smart contract in tron by using this link "https://medium.com/@Tronfoundation/official-debut-of-tron-virtual-machine-195680959fac". I cannot able to Deploy. So please provide How to deploy solidity smart contract in tron.

2. What did you expect to see?
Please provide some information

[2018-06-09 00:46] fbsobreira commented on #967
@dbriggsie check the log at logs/tron.log, there is no output on terminal.

[2018-06-09 01:04] fbsobreira commented on #958
@JokerCatz you need bandwidth to broadcast the transaction. Dally a user has free 5000 for bandwidth, and more can be acquired if you freeze TRX. Those represent the number of bytes in the message.

About the documentation you pointed, I think that there is a mistake. For main net you should add 41, not b0.

To self-sign the transaction, here is an example you can follow at https://github.com/tron

[2018-06-09 03:58] Yrp commented on #957
#962

[2018-06-09 06:34] wangzichichi opened #977 ""GetAssetIssueList failed !!" when to many asset issue was created"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
Use script to create to many asset issue(about more than 3000 asset issue)
Then I query the asset issue list (listassetissue)

2. What did you expect to see?
I can see the information about every asset issue.

3. What did you see instead?
There is an err

[2018-06-09 07:11] taihaofu commented on #959
We got 5 witness node on our BETA envrionment. When we run the test cases, we create 3 new witness nodes dynamically, which lead the consensus for the solidityNode  smaller than 2/3(>5/8). In this case, solidity node can't sync with new produced block from any node on our BETA environment. This should be a normal case, not a bug. You can also find when the new witness number is 2. This situation c

[2018-06-09 07:11] #959 closed

[2018-06-10 07:06] #589 closed

[2018-06-10 07:08] #818 closed

[2018-06-11 03:03] wangzichichi opened #978 "SolidityNode has an Uncaught exception"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
SolidityNode on the env,  "47.93.9.236:18897"

2. What did you expect to see?
No exception

3. What did you see instead?
On July 8, I found an error log on this SolidityNode.
11:53:51.459 ERROR [Logback shutdown hook [default]] [general](DefaultConfig.ja

[2018-06-11 03:03] wangzichichi commented on #978
This issue has report to the engineer taihaofu

[2018-06-12 02:32] Ampakinetic opened #987 "Build is breaking"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
git pull, ./gradlew build

2. What did you expect to see?
A successful build

3. What did you see instead?
/home/soa/java-tron/src/test/java/stest/tron/wallet/common/client/WalletClient.java:383: error: cannot find symbol
    public boolean createAssetIs

[2018-06-12 02:37] taihaofu commented on #987
Please try master again.

Thanks.

[2018-06-12 02:49] taihaofu commented on #977
https://github.com/tronprotocol/java-tron/pull/982
Add pagination logic for this api. Both in master and develop

[2018-06-12 02:52] Ampakinetic commented on #987
Build is successful now, thanks :)

[2018-06-12 02:52] #987 closed

[2018-06-12 04:09] tronisliar opened #988 "[BOUNTY]Liar - About Tron and Justin Sun"
This is a hoax designed to defraud the whole community and develop wallet without compensation.
A large number of developers have been used and paid a lot of energy, but they can not get any returns.
Claiming $200 million worth of field loans, but with a maximum of $700 thousand in fact. You wait to see it.

[2018-06-12 06:28] #988 closed

[2018-06-12 09:49] taihaofu commented on #978
Hard to reproduce. And as far as I see from the log, it happened when we trying to kill solidityNode thread. Since it only happened once , my suggestion is to wait and see if it occurs occasionally or not.
You can close it and feel free to reopen it if necessary.

Thanks.

[2018-06-12 10:17] rahulsharmablr opened #991 "Tronscan: Unable to name account"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
Navigated to Tronscan Account page and clicked on Set Name. Gave a name and tried to save it.

2. What did you expect to see?
Successful creation of name.

3. What did you see instead?
Error stating "Unable to rename"

[2018-06-12 10:22] rahulsharmablr opened #992 "[BOUNTY] Tronscan: Node tester page has typo"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
Navigate to tronscan.org
Click on Node Tester
Verify text

2. What did you expect to see?
Insert the IP of your node to test GRPC connection

3. What did you see instead?
Insert the IP of you node to test GRPC connection

[2018-06-12 10:26] rahulsharmablr opened #993 "[BOUNTY] Tronscan: Mobile webapp has address truncated"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
Navigate to Account page on TronSR in a mobile webapp
View address

2. What did you expect to see?
Full address with copy to clipboard option

3. What did you see instead?
Truncated address.

[2018-06-12 10:29] rahulsharmablr opened #994 "[BOUNTY] : tronscan : Request TRX for testing is down"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
Unable to get TRX for testing

2. What did you expect to see?
Successful claim of 10000 trx

3. What did you see instead?

Test TRX is temporarily unavailable.

[2018-06-12 10:35] rahulsharmablr opened #995 "[BOUNTY] TRONSCAN: blockchain statistics page has alignment issues in mobile web app"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
Navigate to Blockchain-> Statistics page from a mobile web app
Verify the alignment of different portlets.

2. What did you expect to see?
All alignment to be proper.

3. What did you see instead?
Alignment distorted for multiple portlets.

[2018-06-12 10:37] rahulsharmablr opened #996 "[BOUNTY]: tronscan : All pages except the home page doesn't have footer links"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
Navigate to tronsr.org
Navigate to different pages
Verify footer links

2. What did you expect to see?
Footer links should be displayed.

3. What did you see instead?
No footer links in other pages.

[2018-06-12 10:45] rahulsharmablr opened #997 "[BOUNTY] TRONSCAN: block search features gives warning"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
Searched for a latest block from block search element.
322700
2. What did you expect to see?
Block number 322700 with details

3. What did you see instead?
Warning at the bottom of the page

[2018-06-12 10:46] rahulsharmablr commented on #997
This happens for all of the searches like address, tx

[2018-06-12 10:47] rahulsharmablr commented on #995
The pie chart on desktop app has the same issue

[2018-06-12 10:50] rahulsharmablr opened #998 "[Bounty] : Tronscan: search field should have a clear button for better user experience"
Please answer these questions before submitting your suggestion
1. What did you do?
I searched a address using the search feature.

2. What did you expect to see?
I wanted to delete the address..clear button should have made it lot easier.

3. What did you see instead?
The address was not totally visible..had to delete it in two go's.

[2018-06-12 16:24] #993 closed, assigned to nobody

[2018-06-13 03:59] pangpangfeng opened #1001 "Soliditynode synchronization failed"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

Soliditynode synchronization failed

2. What did you expect to see?
no error

3. What did you see instead?
11:53:46.417 INFO  [pool-17-thread-3] [o.t.c.Wallet](Wallet.java:309) number: [0, 0, 0, 0, 0, 0, 0, 2] is not found!
11:53:47.040 INFO  [pool-17-t

[2018-06-13 04:26] wangzichichi opened #1002 "An error message "We get a unlinked block" was reported"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
Query the server log

2. What did you expect to see?
No error message

3. What did you see instead?
Beta fullnode :47.93.184.2:50051, on July 13, an error message was reported.

11:37:36.238 ERROR [nioEventLoopGroup-3-1] [o.t.c.n.n.NodeImpl](NodeImpl.jav

[2018-06-13 07:12] pangpangfeng commented on #1001
In soliditynode  config.conf have 5 witnesses but in fact  only one witnesses。close

[2018-06-13 07:12] #1001 closed

[2018-06-13 07:16] pangpangfeng opened #1003 "SolidityNode synchronous 99 at most"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
1 witnesses + 4 fullnode  + 1 solidity node

2. What did you expect to see?

soliditynode synchronous success

3. What did you see instead?
At soliditynode：
15:06:51.430 INFO  [pool-18-thread-1] [o.t.p.SolidityNode](SolidityNode.java:122) Sync with trust

[2018-06-13 07:19] pangpangfeng opened #1004 "Can't see rewards for alternate nodes on browser"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
1.open https://tronscan.org/#/representatives
2.change to alternate nodes （28～127）

2. What did you expect to see?

have rewards trx

3. What did you see instead?
no rewards trx

[2018-06-13 07:53] songky opened #1005 "Got stuck when running ./gradlew run"
When I ran ./gradlew run, the process looked like be stuck, need some help. MacOS High Sierra 10.13.3 btw.

Using TaskInputs.file() with something that doesn't resolve to a File object has been deprecated and is scheduled to be removed in Gradle 5.0. Use TaskInputs.files() instead.
<===========--> 85% EXECUTING [2s]
<===========--> 85% EXECUTING [3s]
<===========--> 85% EXECUTING [3s]
<===========

[2018-06-13 08:03] songky commented on #1005
When using `./gradlew run --stacktrace `

Using TaskInputs.file() with something that doesn't resolve to a File object has been deprecated and is scheduled to be removed in Gradle 5.0. Use TaskInputs.files() instead.
        at org.gradle.api.internal.tasks.DefaultTaskInputs$8.validate(DefaultTaskInputs.java:387)
        at org.gradle.api.internal.tasks.StaticValue.validate(StaticValue.java:43)

[2018-06-13 12:46] iiimoon opened #1007 "Testnet/Mainnet version (suggestion)"
Tron team, Is there any way to publish the current version of Testnet/Mainnet on tronscan.org. I think the best place to display version information under Tool->System menu. It would be a great help to the community to make sure they are building the compatible solutions.  maybe an API to get version information ( not sure if already exists).

[2018-06-13 13:38] Jating7413 commented on #1005
Same issue, please help

[2018-06-13 20:20] kookiekrak commented on #1007
@Rovak

[2018-06-13 21:27] kookiekrak commented on #1005
Hi @Jating7413 @songky, it's actually not stuck but running properly.

If you tail the logs located in /logs/tron.log, you'll actually see it run properly.

[2018-06-14 01:10] songky commented on #1005
@kookiekrak All right, thanks.

[2018-06-14 01:10] #1005 closed

[2018-06-14 02:44] songky commented on #923
Hey guys, do you have any ideas? I tried as [the document](https://github.com/tronprotocol/Documentation/blob/master/TRX_CN/Tron-exchange.md) said, useless.

[2018-06-14 10:15] wangzichichi opened #1010 "The block remain in pending status, can't produce block anymore, with an exception report when there is no enough money to transaction tax"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
No bandwidth, use the tax to send coin to a account, until the account doesn't have enough money any more.

2. What did you expect to see?
No exception reported.

3. What did you see instead?
18:07:18.006 ERROR [Thread-5] [o.t.c.s.WitnessService](Witness

[2018-06-14 10:21] sean-liu55 commented on #1010
This exception occurred during the producing block stage and should be caught and the log level is debug.This problem has no effect on the main program operation.

[2018-06-14 10:28] sean-liu55 commented on #1010
https://github.com/tronprotocol/java-tron/pull/1011/files

[2018-06-14 10:41] bohemianaman commented on #25
Never expected this from TRON

[2018-06-14 13:06] dbriggsie commented on #967
Closed, I managed to rebuild on CENTOS 7 not problems

[2018-06-14 13:06] #967 closed

[2018-06-14 14:41] greenybignose opened #1012 "BUILD ERROR"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
I try to Build -> Build project for java-tron project using intellij idea. But, so many error, some is logger and another error happen too.

2. What did you expect to see?

BUILD SUCCESSFULL

3. What did you see instead?

<img width="960" alt="error" src

[2018-06-14 18:45] kookiekrak commented on #1012
Hi @greenybignose, can you expand one of those errors so we can see what it's failing to compile?

Also, if you haven't already, can you turn on "Annotation Processing" in the preferences? I've seen similar compile issues because of that.

![screen shot 2018-06-14 at 11 45 31 am](https://user-images.githubusercontent.com/585120/41431632-7adff01a-6fc8-11e8-8124-eb51a496b3d4.png)

[2018-06-14 19:01] Crypto2 commented on #923
Yeah, I've never seen a coin like this where it's just insane to try to figure anything about basic usage.

[2018-06-15 03:00] wangzichichi opened #1014 "Set the "pageMessageBuilder" parameter "offset" with "-1", then getPaginatedAssetIssueList,an exception reported."
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
//offset is -1, limit is 100.
offset = -1;
limit = 100;
pageMessageBuilder = PaginatedMessage.newBuilder();
pageMessageBuilder.setOffset(offset);
pageMessageBuilder.setLimit(limit);
assetIssueList = blockingStubFull
    .getPaginatedAssetIssueList(pageMe

[2018-06-15 10:34] jerkyrs commented on #967
You probably don't want to run the process under gradel, you are better of running it direct

[code]

Something like this or better yet Supervisor or systemd managed process

[2018-06-15 10:40] jerkyrs commented on #1007
ive said this before, we need better communication of what version (based on a github tag) testnet and mainnet are running. The only way to really see this at the moment is the P2P version increments and if you get a lot of errors of incompatible version you know your probably not on the right one. Right now seems like *10000* is mainnet but  then i see this in logs

[code]

So some really old cod

[2018-06-15 13:15] dbuarque opened #1020 "Is an intended behavior to fund accounts with other tokens than TRX?"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
I've created a new account and fund it with a new token that is valued at 1/1000+ TRX

If possible, provide a recipe for reproducing the error.
[code]
2. What did you expect to see?
Not sure if this is an intended behavior

3. What did you see instead?
The account will be funded and live on the network

[2018-06-16 09:50] greenybignose commented on #1012
@kookiekrak

Error still alot even after enabling Annotation Processor. Please help.

Thanks

[2018-06-16 10:11] Rovak commented on #1012
The errors are related to missing generated protobuf classes which happens if you aren't using gradle to run the project. Try running the project with the gradle `run` command. Or `./gradlew run`

See https://github.com/tronprotocol/java-tron#running-a-full-node for further instructions on how to run a node.

[2018-06-19 03:01] #840 closed

[2018-06-19 07:20] Pythagoras51213 opened #1028 "SR voting Tie caused 28 SRs"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
Tie in SR voting - Spots 24 and 25

2. What did you expect to see?
Only 27 SR

3. What did you see instead?
28 SR.  Concerned that 28 is not divisible by 3 making 2/3+1 problematic when trying to reach consensus.

It happened from 5 PM - 11 PM.  UTC - 7 June 18, 2018

![tron tie3](https://user-images.githubuse

[2018-06-19 07:49] lamductan opened #1029 "No sync block when running a local node and connecting to the public testnet"
I follow the tutorial on http://wiki.tron.network/en/latest/The_TRON_Network.html#how-to-build. I built successfully but when I use command "./gradlew run" the terminal is always at 85%. I try to edit the config.conf file in src/main/resource directory p2p version from 10000 to 71 then I remove output-directory but the problem don't be solved.
![config](https://user-images.githubusercontent.com/17

[2018-06-19 08:58] kookiekrak commented on #1029
@lamductan Try following this guide: https://github.com/tronprotocol/Documentation/blob/master/TRX/Solidity_and_Full_Node_Deployment_EN.md

also 85% is fine, check the logs to see the sync status

[2018-06-19 09:00] kookiekrak commented on #1012
@greenybignose The IntelliJ step is a bit outdated. You'll still need to run ./gradlew build because that'll build the missing files you currently see in IntelliJ.

You just need to run it once

[2018-06-19 10:41] kitgary opened #1038 "Need help to setup a node for super representative election"
I followed the README to setup a test node connected to the public test net but I can't managed to make it work. Here is my step.

sudo apt-get update
sudo apt-get upgrade
sudo add-apt-repository ppa:webupd8team/java
sudo apt-get update
sudo apt-get install oracle-java8-installer
sudo git clone https://github.com/tronprotocol/java-tron.git
cd java-tron
sudo ./gradlew build
sudo cp src/main/resourc

[2018-06-19 11:02] lamductan commented on #1029
Thank you @kookiekrak for your support. I follow this tut and here is my tron.log in fullnode directory. I think there is some thing wrong. Another question is how long does it take to sync full node on test net?
[Here](https://github.com/tronprotocol/java-tron/files/2114933/tron.log) is my tron.log file.

[2018-06-20 02:55] Abiraminfo commented on #25
Bidu a successful Chinese search engine company is a copy of Google.
QQ Chinese social networking company is a copy of Facebook.
Huawei is a successful Chinese copycat of Cisco .
Xiomi is a successful Chinese copycat of iPhone .
Wechat is a Chinese copycat of WhatsApp.
Alibaba itself is an extremely successful copycat of eBay .

So being a Chinese copycat could as well means success. China doesn't

[2018-06-20 03:44] bdm123 commented on #25
Copying and stealing code is different than copying a business model.

What a shit show this is going to be.  Good luck on the grenade launch.  LOL  😂

[2018-06-20 04:42] wangzichichi opened #1046 "Got nothing when use http to updatewitness"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
Try to use http to update witness
Env:Beta,host:47.93.33.201,port:18890
cli: curl -X POST http://47.93.33.201:18890/wallet/updatewitness -d '{"owner_address":"QQvoipGNdNDf1x3IS9Sr8DbQVimR", "url": "QzMwQzFCNkEyNzZFNzI4OTgw"}'

(Try to update the default

[2018-06-20 05:04] ruchern commented on #25
@tronfoundation I think this issue should be locked and limited to members and collaborators only.

[2018-06-20 07:25] wangzichichi opened #1048 "On contract "AccountCreateContract", there are two "type" print"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
Try to create account, see the contract information.

2. What did you expect to see?
All the information print normal.

3. What did you see instead?
there are two "type" print
14:43:47.176 INFO  [main] [TestClient](TestClient.java:821) hash:
c68b8bb98043

[2018-06-20 07:44] nanfengpo commented on #1048
fixed: https://github.com/tronprotocol/wallet-cli/pull/133

[2018-06-20 07:44] #1048 closed

[2018-06-20 08:41] wangzichichi commented on #1046
parameter wrong. Not a bug.Close it

[2018-06-20 08:41] #1046 closed

[2018-06-20 12:54] wangzichichi opened #1052 "Please add the "walletextension" service in grpc-gateway project"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
Try to use http to query the "rpc GetTransactionsToThis (AccountPaginated) returns (TransactionList)"

2. What did you expect to see?
The transaction list can receipt, and the information is right.

3. What did you see instead?
404 NOT FOUND

[2018-06-20 13:25] sasaxie opened #1057 "NullPointerException"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

Fix NullPointerException.

With a small probability of recurrence, the target object is removed from the Map before getting it, resulting in a NullPointException, causing the node to close.

2. What did you expect to see?

Avoid NullPointerException

3.

[2018-06-21 03:51] Yrp opened #1062 "switch back when switching fork failed"
when switching fork chain failed(e.g. process some tx throws Exception), system has to switch back to the main chain.

[2018-06-21 04:49] Yrp commented on #1062
#1064

[2018-06-21 09:40] #1057 closed

[2018-06-21 12:44] wangzichichi opened #1074 "SolidityNode didn't synchronize block from fullnode at number 76"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
On branch "feature/transaction_history_store"
Try to synchronize block from fullnode

2. What did you expect to see?
Synchronize normally.

3. What did you see instead?
At number 76, SolidityNode didn't synchronize block.
[tron@tron-test-chain11 logs]$ t

[2018-06-22 06:56] kookiekrak commented on #1038
@kitgary hi please email me for a developer slack invite tian@tron.network

someone will be able to assist you in there

[2018-06-23 03:06] #921 closed

[2018-06-23 03:18] Voidrays opened #1086 "CREATE_ACCOUNT_FEE works as 0.1 TRX(100,000 Sun) not 0.01 TRX(10,000 Sun). Any thought?"
I see only 0.1 TRX(100,000 Sun) has been spent as fee to create account.
Not 0.01 TRX(10,000 Sun) ? Any thought are appreciated!
[master/src/main/java/org/tron/core/config/Parameter.java](https://github.com/tronprotocol/java-tron/blob/master/src/main/java/org/tron/core/config/Parameter.java)
[code]

[2018-06-23 08:39] xudong7930 opened #1090 "按照官网教程来的, 不能同步区块"
16:38:17.093 INFO  [main] [o.t.c.n.n.NodeImpl](NodeImpl.java:734) other peer is nil, please wait ...
16:38:17.097 INFO  [pool-1-thread-1] [o.t.c.n.n.NodeImpl](NodeImpl.java:634) LocalNode stats:
============
MyHeadBlockNum: 0
advObjToSpread: 0
advObjToFetch: 0
advObjWeRequested: 0
unSyncNum: 0
blockWaitToProc: 0
blockJustReceived: 0
syncBlockIdWeRequested: 0
badAdvObj: 0

[2018-06-23 08:43] xudong7930 commented on #1090
[code]

[2018-06-23 10:11] man15h commented on #1090
I'm having the same issue

[2018-06-24 07:08] zhaohong commented on #1090
the mainnet conf will publish soon,  please connet to the testnet.

[2018-06-25 07:57] xudong7930 commented on #1090
now it's 2018-06-25 15:56:21, I rebuild your latest version Odyssey-v2.0.5, and use your latest main-net-config file, why I still can not sync block data?

[2018-06-25 09:21] ithinker1991 commented on #1052
done @wangzichichi

[2018-06-25 09:21] #1052 closed

[2018-06-25 14:40] gregorst3 commented on #1090
Same issue, tried with tester or mainent

[2018-06-25 20:54] dariogriffo commented on #91
I have started something, you can check the progress [here](https://github.com/griffo-io/tron.net)
My intention is not to create a Wallet but to provide a .NET environment for TRON, ie: GRPC calls, Wallet abstraction, signature and EC KEy management, but without store.

[2018-06-27 17:20] deblanco commented on #904
![image](https://user-images.githubusercontent.com/343824/41989284-0bd08686-7a3f-11e8-8505-8928c70efd2e.png)

Right now happening on mainnet, look up the attachment for further details.

[2018-06-28 04:21] #1090 closed

[2018-06-28 04:58] wangzichichi opened #1104 "When create asset issue the "FrozenSupply" can't set successfully by grpc-gateway"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
Try to create an asset issue by grpc-gateway.Set the frozen supply

2. What did you expect to see?
The createassetissue contract can build success.
The request is
{
"owner_address":"{{createAssetAddress}}",
"name":"{{assetIssueName}}",
"abbr": "{{abbrNam

[2018-06-28 09:47] kookiekrak commented on #904
So the timestamps are set by the creator of the transaction, and some people are broadcasting with timestamps with ms and some with ns accuracy.

We can't change the data because this will alter the hash of the data.

[2018-06-28 09:47] #904 closed

[2018-06-28 10:10] AngelQuirogaM commented on #904
Does this means that the user can set the timestamp he wants?

What I mean with this is that the transactions timestamps obtained from the solidty with the **GetTransactionsToThis**, **GetTransactionsFromThis** cannot be trusted for logic purposes and they could be removed if they are not showing real network information about the transactions times.

Am I wrong with this?

[2018-06-28 11:10] kookiekrak commented on #904
Yes the user sets what they want. I believe its validated in a range before broadcast.

[2018-06-28 15:39] LamentWy opened #1105 "Odyssey-v2.0.5 compile Error"
为啥不直接release jar包？

[2018-06-28 16:09] LamentWy commented on #1105
jdk 用错了

[2018-06-28 16:09] #1105 closed

[2018-06-28 21:13] tronhub opened #1106 "Looping/Frozen MyHeadBlockNum"
Hi there,

My script detected looping at MyHeadBlockNum.
It is frozen? It has been running fine since day one.

07:09:43.751 INFO  [pool-1-thread-1] [o.t.c.n.n.NodeImpl](NodeImpl.java:635) LocalNode stats:
============
MyHeadBlockNum: 107458
advObjToSpread: 0
advObjToFetch: 0
advObjWeRequested: 0
unSyncNum: 0
blockWaitToProc: 0
blockJustReceived: 0
syncBlockIdWeRequested: 125
badAdvObj: 0

07:09:5

[2018-06-29 16:49] Crypto2 opened #1107 "gRPC API should include block and transaction hashes in replies."
I feel like the gRPC API should include block and transaction hashes in replies including Blocks and Transactions.

The main reasons being:

1. Depending on the language used it can be hard if not impossible to get the raw data for them. The spec also doesn't specify if it means the protobuf serialized format or the actual raw data concatenated somehow. I'm also not sure if the serialized format c

[2018-07-02 06:34] wangzichichi opened #1108 "The transactions can't create successfully after continuing create transaction 500+/second for a while"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
Try to create 500+ transactions per seconds, do the test at least 20 minutes.

2. What did you expect to see?
The transaction num is remain at 300+ in every block.

3. What did you see instead?
After 10 minutes, no transaction can create successfully, th

[2018-07-03 10:23] 2tvenom opened #1111 "How check transaction is confirmed or not?"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
Need check transaction confirmation, how do it?

2. What did you expect to see?
In test net confirmed transaction. six-day transactions still not confirmed in test net https://test.tronscan.org/#/transaction/0005ffdbdd6d7b725cd15dd35006002b043ffb9979f13dc8e53855b95a86fe03

[2018-07-03 13:29] Anil402 opened #1112 "Not able to get account info"
have set up the gRPC and full node for tron.
I have created a new address by using this API
curl -X POST -k http://127.0.0.1:18890/wallet/generateaddress.\
It gives me the address and key.

And also when I am using account info API.
curl -X POST http://127.0.0.1:18890/wallet/getaccount -d '{"address": "base 64 encoded address pasted here"}'
it return {} blank object

[2018-07-03 13:43] Anil402 opened #1113 "Confusion in syncing"
I have started the full node jar in with testnet config
I am getting output like this
17:55:38.058 INFO [pool-3-thread-1] o.t.c.n.n.NodeImpl LocalNode stats:
MyHeadBlockNum: 107460
advObjToSpread: 0
advObjToFetch: 0
advObjWeRequested: 0
unSyncNum: 0
blockWaitToProc: 0
blockJustReceived: 0
syncBlockIdWeRequested: 8086
badAdvObj: 0

Is it ok?
It is stuck at this point since last 4 days

[2018-07-04 03:50] wangzichichi opened #1115 "The http API "gettransactioninfobyid" and "/walletsolidity/getpaginatedassetissuelist" didn't work normally"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
Try to use http API request "gettransactioninfobyid" and "/walletsolidity/getpaginatedassetissuelist"

2. What did you expect to see?
These two API can work normally

3. What did you see instead?
Get nothing from ApI "gettransactioninfobyid"
API "/wallet

[2018-07-04 10:53] Anil402 opened #1119 "Method not found exception in both case full node and solidity node"
curl -X POST http://127.0.0.1:8086/wallet/createadresss -d '{"value": "QW5pbEAxMjM=" }'
{"error":"Method not found: protocol.Wallet/CreateAdresss","code":12}

I have started both full node and solidity node.
Started 2 grpc-gateway one for full node and another for solidity node
but still, API not working under wallet section
1. Tried for full node
curl -X POST http://127.0.0.1:8086/wallet/createad

[2018-07-06 08:45] wangzichichi opened #1126 "When send a wrong contract by http, server return java.lang.NullPointerException"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
Try to update an account by http, but this account has been updated before.

2. What did you expect to see?
The response is null, no exception reported.

3. What did you see instead?
< html >
    < head >
    < meta http - equiv = "Content-Type"
content

[2018-07-07 08:47] zhaohong commented on #1111
hi,  about  19 block to confirm the transaction.,

[2018-07-07 08:48] zhaohong commented on #1107
good  suggestion, will do.

[2018-07-07 09:02] #1108 closed

[2018-07-07 22:12] daladala2015 opened #1131 "I cannot withdraw my tron on the tron website. Any help for me?"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

2. What did you expect to see?

3. What did you see instead?

[2018-07-09 06:50] wangzichichi commented on #1104
set "FrozenSupply" to "frozen_supply", it works.

[2018-07-09 06:50] #1104 closed

[2018-07-09 07:16] nanfengpo commented on #1131
Please show more details

[2018-07-09 08:37] Dylan-Phoon opened #1135 "Is there any more documentation for developing smart contracts?"
https://tron-wiki.readthedocs.io/en/latest/TRON_Virtual_Machine.html
^This is very dry and doesnt explain a whole lot. e.g. How to use javascript in contracts or any of the API's for the tron mainnet.

[2018-07-09 11:45] miratcan opened #1136 "How to implement tron payments to a website?"
1. Are there any guide to do it?
2. Should I run Tron node to accept payments? Or are there any API's that can I use?

[2018-07-10 12:18] zebpaypeswani opened #1141 "wallet always showing 0 balance"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
I am running a testnet node. I connected Android app to my node and generated address.
Go to tronscan website where I login with my private key and requested test tokens I got 10,000 TRX
in account here. But In android wallet or any other wallet I tried

[2018-07-11 06:11] #1029 closed

[2018-07-11 22:48] kookiekrak commented on #1141
can you try the wallet-cli app for testnet?

[2018-07-12 22:59] kookiekrak commented on #1136
@miratcan you can either write the code and run a tron node so that you can generate address to accept payments, or use a 3rd party service like https://www.coinpayments.net/ that has finished TRON integration.

[2018-07-12 23:00] kookiekrak commented on #1135
@Dylan-Phoon the first version TRON VM will support solidity. you can use the remix (http://remix.ethereum.org) to compile the code.

please join our developer slack if you haven't yet. email me at tian@tron.network for an invite

[2018-07-12 23:01] kookiekrak commented on #1119
@Anil402 we've corrected the spelling of that function, it's now
[code]

additionally please provide the value as hex

[2018-07-12 23:03] kookiekrak commented on #1113
@Anil402 please update to the latest 2.0.6 release + configuration files from https://github.com/tronprotocol/TronDeployment

and delete the output-directory folder

[2018-07-12 23:04] #1112 closed

[2018-07-13 07:21] #1141 closed

[2018-07-16 12:51] JusticeForMikeBrown commented on #90
Hi

Please see [this link on Trezor](https://www.reddit.com/r/Tronix/comments/8z2q1l/tron_does_not_meet_trezor_quality_requirements/)

I contacted Trezor support about supporting mainnet TRX Coin.  They claim Tron developers need to contact them about getting it to work with the Trezor.  Can this be done?

[2018-07-16 12:56] Rovak commented on #90
@fbsobreira has already contacted the Trezor team. Me and @fbsobreira are working on Trezor support right now

[2018-07-16 13:59] JusticeForMikeBrown commented on #90
@Rovak sounds great!

[2018-07-18 06:34] miratcan commented on #1136
thanks @kookiekrak

[2018-07-18 06:39] #1136 closed

[2018-07-19 06:44] #1119 closed

[2018-07-21 20:16] dbuarque opened #1169 "Make ContractValidateException meaningful"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?

How can I get the specific validation message from a CONTRACT_VALIDATE_ERROR ?

Exception messages need to be meaningful
[code]
2. What did you expect to see?

A response message field with the value`Invalid abbreviation for token`

3. What did you see instead?
`CONTRACT_VALIDATE_ERROR`

[2018-07-22 16:45] ifelsefi opened #1170 "Trying To Run Mainnet Witness Node"
Hi

I am trying to run a mainnet witness node.

After doing ```git clone https://github.com/tronprotocol/java-tron.git```, setting up dependencies, and adding my private key into ```src/main/resources/config.conf```, I run:

`user@node[/opt/java-tron]$ ./gradlew run -Pwitness`

The error that I get:

The private key comes from [Tronscan](https://tronscan.org/) so I am unsure what to do at this poi

[2018-07-23 17:22] cenyG opened #1173 "Try to start FullNode and SolidityNode on one host"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
Hi, I'm tryong to start FullNode and SolidityNode on one host. I do
[code]
In config files for SolidityNode I change port to 50041 , everything else is similar to default config.
[code]

2. What did you expect to see?
Running both

3. What did you see instead?
First node starts fine and other starts but exits

[2018-07-25 22:19] j4ys0n opened #1179 "Error when running full node. Exception encountered during context initialization - cancelling refresh attempt"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
[code]

2. What did you expect to see?

Node running

3. What did you see instead?

Error

[code]

[2018-07-26 04:05] Yrp commented on #1179
pls use oracle jdk 1.8

[2018-07-26 05:04] j4ys0n commented on #1179
that did it. thanks!

[2018-07-26 05:04] #1179 closed

[2018-07-26 11:38] xianaofei opened #1181 "Off-line multi sign"
Do you support off - line multi - sign?
Please provide a reference, thank you.

[2018-07-26 17:37] kookiekrak commented on #1173
take a look at this guide:

https://github.com/tronprotocol/Documentation/blob/master/TRX/Solidity_and_Full_Node_Deployment_EN.md

and double check your config files. Also check the logs directory /logs/tron.log

usually when other shutsdown, its a port issue

[2018-07-27 15:42] zaranur commented on #1181
Dear if possible? Suggest Me for that

[2018-07-27 15:44] zaranur commented on #1181
My device is hacking

[2018-07-27 23:46] kookiekrak commented on #1170
@JusticeForMikeBrown can you try this format:

java -jar java-tron.jar -p your private key --witness -c your config.conf(Example：/data/java-tron/config.conf)

there might be a typo in the config file so it's failing to interpret it

[2018-07-27 23:47] kookiekrak commented on #1131
@daladala2015 Hi, please provide more information where you're trying to withdraw? Closing for now but you can always reopen!

[2018-07-27 23:47] #1131 closed

[2018-07-27 23:47] #1135 closed

[2018-07-28 01:33] daladala2015 commented on #1131
I transferred my tron from an exchange to an ERC20 wallet. Somewhere along the line, I saw the message that we should transfer the coins back to the exchanges before the end of June. But by the time I saw it, the deadline had already elapsed. So I have been trying since to withdraw my tron, but no success so far.

[2018-07-28 02:19] kookiekrak commented on #1131
You have access to the erc20 wallet right? There are a few exchanges supporting the swap still, like binance

[2018-07-28 02:57] Aqwords commented on #1131
Baik terima kasih

[2018-07-28 07:35] daladala2015 commented on #1131
So what do I do when I go to binnance. Can you help me with the step by step approach? I am grateful to all of you for your concern in helping me out. Thanks.

[2018-07-29 17:54] daladala2015 commented on #1131
I have not been able to access my coins yet, but i am so grateful for the care and concern. Thanks so much.

[2018-07-30 17:26] cenyG commented on #1173
Now i have error: `Exception in thread "main" java.lang.IllegalArgumentException: The address() must be a 21 bytes.`.
I have this 2 , first for FullNode , second for SolidityNode, have no idea what's wrong:

[code]
and
[code]
I change to
[code]

Not sure it's write, becouse in you samples for testnet it's `type = testnet` commented.
But if I try with testnet commented it's the same issue as in my

[2018-07-31 06:41] kookiekrak commented on #1173
@cenyG please use this configuration file for test network: https://github.com/tronprotocol/TronDeployment/blob/master/main_net_config.conf

[2018-07-31 08:13] cenyG commented on #1173
@kookiekrak this config is for main net. Should I use it for tesnet?
I have already use config for testnet from same repo and have this errors.

[2018-07-31 19:50] unbridledwharf9 commented on #1181
Interesting

[2018-08-01 06:46] #1038 closed

[2018-08-01 06:46] #1028 closed

[2018-08-01 06:46] #1020 closed

[2018-08-01 06:47] #1062 closed

[2018-08-01 06:51] #1007 closed

[2018-08-01 06:51] #1003 closed

[2018-08-01 06:51] kookiekrak commented on #973
@sevvandhiNagulan please email me at tian@tron.network for a developer slack invite. we've released our vm on our test network so you can deploy contracts now

[2018-08-01 06:51] #973 closed

[2018-08-01 06:52] #977 closed

[2018-08-01 06:52] #1111 closed

[2018-08-01 06:52] kookiekrak commented on #1111
@2tvenom if you can find the transaction in the solidity node, then the transaction is guaranteed confirmed

[2018-08-01 06:52] #1074 closed

[2018-08-01 06:53] #1012 closed

[2018-08-01 06:53] #751 closed

[2018-08-01 06:53] #90 closed

[2018-08-01 06:53] #541 closed

[2018-08-01 06:54] kookiekrak commented on #546
@PanamaCatalyst please email me at tian@Tron.network for a developer slack invite!

[2018-08-01 06:54] #546 closed

[2018-08-01 06:54] #547 closed

[2018-08-01 06:54] #598 closed

[2018-08-01 06:55] #869 closed

[2018-08-01 08:52] kookiekrak commented on #621
Ah whoops

[2018-08-01 08:52] kookiekrak commented on #621
@renchenchang no timestamp validation on some transactions

[2018-08-01 14:16] nodepaladin opened #1223 "Run SolidityNode and FullNode on the same host, SolidityNode http port wasn't accessible."
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
Hi
I'm trying to run FullNode and SolidityNode on the same host,and I do that as [https://github.com/TRONprotocol/Documentation/blob/master/TRX/Solidity_and_Full_Node_Deployment_EN.md](https://github.com/TRONprotocol/Documentation/blob/master/TRX/Solidit

[2018-08-03 07:50] olegstyle commented on #1173
@cenyG
Try this:
https://github.com/tronprotocol/TronDeployment/blob/master/test_net_config.conf
It looks like net.type should always be a mainnet. but `p2p.version` would be changed :)
Lets try to search testnet in config file.
You will find this:
[code]

[2018-08-03 12:08] cenyG commented on #1173
@olegstyle yep, I understood this, but it actualy gives me nothing, I still have errors.
Foolnode:
[main] [o.t.c.n.n.NodeImpl](NodeImpl.java:729) other peer is nil, please wait ...
Solidity:
org.springframework.beans.factory.NoSuchBeanDefinitionException: No qualifying bean of type [org.tron.core.db2.core.SnapshotManager] is defined

They starting but do not synchronizing.
And for example when i'm

[2018-08-04 02:01] JMdoubleU opened #1245 "Exception encountered during context initialization"
1. What did you do?
[code]

2. What did you expect to see?
No exceptions raised

3. What did you see instead?
[code]

[2018-08-04 04:44] JMdoubleU commented on #1245
Resolved by adding another CPU core. Is this requirement documented anywhere?

[2018-08-04 05:55] Nikolas12339 opened #1246 "Install"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

2. What did you expect to see?

3. What did you see instead?

[2018-08-06 03:47] kookiekrak commented on #1246
@Nikolas12339 Hi, please fill out some context around your issue. Thanks!

[2018-08-06 03:47] #1246 closed

[2018-08-06 03:48] kookiekrak commented on #1245
Hmm I'll add it now. There's recommended specs in https://github.com/tronprotocol/Documentation/blob/master/TRX/Tron-overview.md#31-recommended-hardware-specifications

[2018-08-06 03:48] #1245 closed

[2018-08-06 03:51] kookiekrak commented on #1173
@cenyG can you check if your UDP ports are open? You're not able to connect to the network currently

[2018-08-06 04:07] #1113 closed

[2018-08-06 04:07] kookiekrak commented on #1106
Please update to latest release and also wipe your output-directory database!

[2018-08-06 04:07] #1106 closed

[2018-08-06 04:34] #928 closed

[2018-08-06 06:08] kookiekrak commented on #1223
@nodepaladin can you use these deployment scripts instead
https://github.com/tronprotocol/TronDeployment

[2018-08-07 08:50] cenyG commented on #1173
@kookiekrak are you about 18888 ? or I should open something more ?

[2018-08-09 09:26] saijohnjersy commented on #1223
thank you for your questions

[2018-08-14 00:13] badazzyella30 opened #1300 "Issues"
https://github.com/tronprotocol/java-tron/issues

[2018-08-14 00:27] badazzyella30 commented on #1300
https://github.com/tronprotocol/java-tron/issues

[2018-08-14 00:27] #1300 closed

[2018-08-14 00:32] badazzyella30 commented on #621
https://github.com/tronprotocol/java-tron/issues/621

[2018-08-15 08:30] zhaohong commented on #1181
not support for now

[2018-08-15 14:42] maks115015 commented on #1223
I have the same problem and I can not figure out what to do

[2018-08-17 10:08] maks115015 commented on #1223
Has anybody solved this problem?

[2018-08-17 19:26] kookiekrak commented on #1223
@maks115015 are you starting both nodes in the same folder? They need to be in different folders.

email me at tian@tron.network and i can give you a developer slack invite where people can help you out

[2018-08-21 07:52] Skyhark-Projects commented on #1223
Hi,
I have exactly the same problem. You can reproduce this issue by creating a simple docker like this:

`FROM tronprotocol/tron-gradle

RUN wget https://raw.githubusercontent.com/tronprotocol/TronDeployment/master/deploy_tron.sh -O deploy_tron.sh
RUN bash deploy_tron.sh --app FullNode --net mainnet
# You need to configure different gRPC ports on the same host because gRPC port is available on So

[2018-08-22 08:07] kookiekrak commented on #1223
@Skyhark-Projects
that start.sh file is wrong, it's running both nodes from the same directory.

you need to

cd /Fullnode & java -jar FullNode.jar & cd ../SolidityNode & java -jar SolidityNode.jar

[2018-08-23 08:12] lambda2003 commented on #1223
I have the same error.  any advice?

ERROR [main] [general](DefaultConfig.java:30) Uncaught exception
org.springframework.beans.factory.NoSuchBeanDefinitionException: No qualifying bean of type [org.tron.core.db2.core.SnapshotManager] is defined
        at org.springframework.beans.factory.support.DefaultListableBeanFactory.getBean(DefaultListableBeanFactory.java:372)
        at org.springframewor

[2018-08-25 07:20] nfleury opened #1368 "One of mainnet node grpc not responding anymore"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?

Query one of mainnet seed node (18.220.232.201:50051) via grpc for example get last block (or any other query)

2. What did you expect to see?

Node responding

3. What did you see instead?

The node is constantly responding with unavailable exception

[code]

`connection timed out: ec2-18-220-232-201.us-east

[2018-08-26 04:25] craigcreasy opened #1378 "Lost 31,000 trx sending to Binance"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?

I sent 31,000 trx to Binance from my TranWatch Desktop wallet on August 23 at 9:52pm. I received a "successful" message on my wallet, but never received any notification from Binance saying it was received. It's now been two days and nothing.

2. What did you expect to see?
I have used Binance many times and

[2018-08-26 07:34] Shrey33 commented on #1126
Can you provide a POC ?

[2018-08-26 07:41] Shrey33 commented on #1126
Can you tell me how to reproduce it and the impact ?

[2018-08-26 07:55] Shrey33 commented on #1173
Can you provide some more details about this?

[2018-08-26 12:58] Rovak commented on #1378
What is your wallet address? Then i can take a look where it went

[2018-08-26 12:58] #687 closed

[2018-08-26 13:00] #1004 closed

[2018-08-26 13:03] Rovak commented on #923
Documentation on how to integrate Tron with an exchange have been published at https://tron.network/exchangesList?lng=en.

Feel free to reopen this issue if there are any questions

[2018-08-26 13:03] #923 closed

[2018-08-26 14:51] craigcreasy commented on #1378
Where do I find the address for you? I have also attached a couple screenshots of my wallet, so you can see the "sent" transaction and my backup information. I had also tried to send 736 trx earlier that day and it also did not deposit.
Thank you   On Sunday, August 26, 2018, 6:58:13 AM MDT, Roy van Kaathoven <notifications@github.com> wrote:

What is your wallet address? Then i can take a look wh

[2018-08-26 15:06] craigcreasy commented on #1378
Here is an image of the original received TRX to my wallet.    On Sunday, August 26, 2018, 6:58:13 AM MDT, Roy van Kaathoven <notifications@github.com> wrote:

What is your wallet address? Then i can take a look where it went

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

|  | Virus-free. www.avg.com  |

[2018-08-27 02:22] CooperLee123 opened #1380 "How can I get the TRX from the testnet"
hello, I want to get some test TRX, and I create a wallet on the trx testnet, but How to go get the test TRX,Thank you !

[2018-08-27 12:32] mathieumagalhaes opened #1390 "Transaction list RPC call"
Please answer these questions before submitting your issue. Thanks!

**1. What did you do?**
Deployed a FullNode and a Solidity node (--trust-node correctly pointing to FullNode)
Following the guide I tried to get the transactions of an account.
[code]

If possible, provide a recipe for reproducing the error.

**2. What did you expect to see?**
A transaction list with transactions of the account.

[2018-08-27 13:06] Shrey33 commented on #1002
How to reproduce it ?

[2018-08-28 08:59] Shrey33 commented on #1368
Can you tell me the reproduction steps ?

[2018-08-28 10:14] myraushanraj opened #1395 "Build failing for Odyssey-v2.0.8.1 release on windows."
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
Download the Odyssey-v2.0.8.1 release.
From the command line, ran the command gradlew build.

2. What did you expect to see?
Expected to see the build succeed, and output a jar file.

3. What did you see instead?
Build Failed.

![tron build fail](https://user-images.githubusercontent.com/26787881/44716894-2890

[2018-08-28 10:37] nfleury commented on #1368
@Shrey33 Just do any request via grpc to that node (like get block by num), or you can also do a rpc request on this url with a post: http://18.220.232.201:8090/wallet/getblockbynum

With the following body request:

{"num" : 1}

The request keep pending, using another mainnet address (from https://github.com/tronprotocol/Documentation/blob/master/TRX/Official_Public_Node.md) it's ok:

For ex: htt

[2018-08-29 06:50] Shrey33 commented on #1368
@nfleury this could be because you did some improper operation or your system have some problem, please provide the complete log file to us, then let us check what happened in your computer.

[2018-08-29 06:58] Shrey33 commented on #1002
@wangzichichi can you provide me the log file ?

[2018-08-29 07:59] nfleury commented on #1368
@Shrey33 Maybe my previous comments wasn't clear. I think that the mainnet node with the address 18.220.232.201 is down or is very slow., testing the same request with another node is working fine.

Could you do a rpc or grpc request on this address : 18.220.232.201 ?

[2018-08-29 13:54] Shrey33 commented on #1368
@nfleury Can you enlighten me about the negative impact ?

[2018-08-29 20:34] #1378 closed

[2018-08-30 02:46] kookiekrak commented on #1390
@mathieumagalhaes is your solidity node synced to the network? it takes around 3-4 hours

[2018-08-30 02:47] kookiekrak commented on #1173
@cenyG open 18888 inbound

[2018-08-30 09:16] danciuc commented on #870
There doesn't seem to be any transaction with hash
`4cf062d8a2eb8961a9b72c792fe61928d7ca1be7a5ccaecd2e53a545e1068b27`
on mainnet.

[2018-08-30 14:51] CooperLee123 opened #1415 "Java-tron,how to link the wallet and then transfer"
I have craeate the fullnode and soliditynode with the java-tron, and link the wallet, but invoke the rpc api , such as createtransaction to transfer, but with postman ,it shows null,why

[2018-08-30 15:48] mathieumagalhaes commented on #1390
@kookiekrak firstly thanks for your reply.
I'm not quite sure actually as I'm not aware how to check this.
I'm however sure it's been on for a couple of days right now so I hope it is.
Is there an endpoint to check if the solidity node is synced?

Thanks in advance

[2018-08-31 02:18] lilaizhencn commented on #1380
@huzhenyuan

[2018-08-31 13:03] nodepaladin commented on #1223
I switch to the Mainnet and .... success, so I suggest to use the Mainnet rather than testnet

[2018-08-31 13:03] #1223 closed

[2018-09-03 08:32] Shrey33 commented on #1108
@wangzichichi Can you tell me the reproduction steps ?

[2018-09-03 21:16] Rovak opened #1425 "Calling getBlocksByLimitNext in parallel returns wrong results"
**Problem**

When calling `getBlockByLimitNext` in multiple threads the function will return the wrong results.

**Failing testcase**

A testcase which reproduces the problem can be found at https://github.com/Rovak/java-tron/blob/blocklimit-testcase/src/test/java/org/tron/core/WalletTest.java#L304

It calls the `getBlocksByLimitNext` function in multiple threads and it logs to console whenever th

[2018-09-04 03:44] zhaohong commented on #1425
thanks!

[2018-09-04 08:42] Shrey33 commented on #1425
@Rovak can you tell me the reproduction steps ?

[2018-09-04 09:12] Rovak commented on #1425
@Shrey33 Here is a link to a unit test that reproduces the problem. https://github.com/Rovak/java-tron/blob/blocklimit-testcase/src/test/java/org/tron/core/WalletTest.java#L304

[2018-09-05 12:00] Shrey33 commented on #1425
@Rovak thanks for an update

[2018-09-05 12:04] Shrey33 commented on #1425
@Rovak can you tell me the impact of this problem ?

[2018-09-05 12:30] Rovak commented on #1425
I use `getBlocksByLimitNext` in https://tronscan.org to import the blockchain because it has better performance then calling `getBlockByNum` for every block. The impact is that i can no longer call `getBlocksByLimitNext` and that importing the blockchain now takes a few hours instead of 30 minutes.

Also this bug makes the function `getBlocksByLimitNext` highly unreliable and unusable when more th

[2018-09-06 06:00] sean-liu55 commented on #1425
https://github.com/tronprotocol/java-tron/pull/1460
@Rovak , Already fixed, please try again

[2018-09-06 12:40] JusticeForMikeBrown commented on #1170
Hi @kookiekrak

[code]

[2018-09-06 12:46] JusticeForMikeBrown commented on #1170
OK @kookiekrak think I got it... I was using encrypted private key.

[2018-09-06 12:57] JusticeForMikeBrown commented on #1170
My firewall is configured to allow witness node port

![screenshot from 2018-09-06 08-57-21](https://user-images.githubusercontent.com/14250760/45158742-e93a3080-b1b2-11e8-885a-cfc147ab3822.png)

[2018-09-07 01:52] JusticeForMikeBrown commented on #1170
Using [deployment script ](https://github.com/tronprotocol/java-tron) I am now running FullNode on mainnet:

[code]

However I still do not see my IP address on the map.  How can I fix?

[2018-09-07 12:47] Shrey33 commented on #1169
@dbuarque can  you tell me how to reproduce the issue and it's impact  ?

[2018-09-08 12:50] Rovak commented on #1425
I've merged the fix you referenced into the testcase and it no longer returns wrong results. Thanks!

[2018-09-08 12:50] #1425 closed

[2018-09-09 13:30] zhaohong commented on #1395
thanks feedback, will  figure this out.

[2018-09-11 05:09] wanglei-sky opened #1509 "My FULLNODE block height stays at 2241159 and is out of sync"
My FULLNODE block height stays at 2241159 and is out of sync

I call wallet/getnowblock, which returns "number":2241159, and I wonder why

Log:

13:18:43.022 INFO  [pool-9-thread-1] [SyncPool](SyncPool.java:163) Peer stats:
Active peers
============
Peer 18.130.56.16:18888: [           bc4715bc, ping    226 ms]-----------
connect time: 2018-09-11 11:49:48.05
last know block num: 2241159
needSyncFr

[2018-09-11 07:54] #1509 closed

[2018-09-13 02:38] wanglei-sky opened #1527 "I would like to see a clear fee field"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
I want to get transaction fees
/walletsolidity/gettransactioninfobyid

2. What did you expect to see?
I would like to see a clear fee field

3. What did you see instead?
{
    "id": "8e70409f9f0f8d4b446c59dbdb7a72c50dc6404b9856c862fc0ad7dabda5273f",

[2018-09-15 13:50] serderovsh opened #1539 "New parameter when sending funds"
Hi, do not plan to add the "comment" parameter when sending funds.
This function would be very useful.

Even "Ripple" has a similar opportunity, with its help it is convenient to check instantly the order numbers and ...

Example: curl -X POST http://127.0.0.1:8090/wallet/createtransaction -d ‘{“to_address”: “41e9d79cc47518930bc322d9bf7cddd260a0260a8d”, “owner_address”: “41D1E7A6BC354106CB410E65FF

[2018-09-17 16:44] serderovsh commented on #1539
The question is closed, it turns out there is such a function

[2018-09-17 16:44] #1539 closed

[2018-09-18 22:36] Rovak opened #1550 "Suggestion: Add GetMetaData API"
I would like to suggest to add an API which provides information about the node

The API could return the following data:

* Version number
* Latest Block Number and Hash
* Operation System
* GRPC API Usage + Configuration
* HTTP API Usage + Configuration

Optionally

* Average CPU usage
* Database size
* Total / Used RAM

With this data we can get a better insight in the network:

* How many node

[2018-09-19 08:45] bitcodernull opened #1552 "The solidity node data is damaged，i want to resync, it is too slow, any suggestion?"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

2. What did you expect to see?

3. What did you see instead?

[2018-09-19 14:51] #870 closed

[2018-09-20 09:54] haidoan commented on #650
hi anyone, issue happen again, I tried to request TRX for testing from [https://test.tronscan.org/account](https://test.tronscan.org/account) but get this error, please help! thanks
<img width="917" alt="screen shot 2018-09-20 at 16 53 39" src="https://user-images.githubusercontent.com/7260527/45810837-d3218980-bcf5-11e8-8629-b660be2aa867.png">

[2018-09-20 09:56] haidoan commented on #581
hi @Rovak , I still get this issue when request TRX for testing, please help, thanks

[2018-09-20 09:58] haidoan commented on #1380
@CooperLee123 Did you manage to get some TRX for testing? i get same issue when request TRX after register at test.tronscan.org, thanks

[2018-09-22 19:12] seanrobbins commented on #635
Per Rovak's comment from 28th May that token names are now unique, should this issue be closed?

[2018-09-25 04:10] benjaminchencobinhood opened #1557 "Solidity/Fullnode stucks when DupTransactionException occurs."
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

Running fullnode and solidity node in docker on k8s.  Once the fullnode/solidity receive a duplicate transaction, then the node can't sync anymore.

2. What did you expect to see?

Fullnode/solidity node should recover and keep syncing.

3. What did you

[2018-09-26 04:18] zhaohong commented on #1550
will do

[2018-09-26 04:19] zhaohong commented on #1552
please use kill -15 to stop node.

[2018-09-26 08:07] hustxiaoc opened #1562 "Build failed on linux."
org.tron.core.db.api.IndexHelperTest > classMethod FAILED
    java.lang.IllegalStateException: Failed to open SQLite connection for file: /home/xxx/tron/java-tron/output_IndexHelper_test/index/TransactionIndex.index
        at com.googlecode.cqengine.persistence.disk.DiskPersistence.getConnection(DiskPersistence.java:97)
        at com.googlecode.cqengine.index.sqlite.RequestScopeConnectionManager

[2018-09-26 13:02] wuno commented on #994
Why was this closed? This appears to be a legitimate problem and I have yet to find a solution or explanation for it.

I am a believer in Tron and I respect the ask to bring us over to the Tron network in order to have more people developing D-Apps but it seems every time I try there is always some silly snag blocker that stops development.

[2018-09-27 02:57] hustxiaoc commented on #1562
Anybody?

[2018-09-27 04:13] taihaofu commented on #1562
Please try something like: ulimit -n 65535
to enlarge your resource capability. Hope it works.

[2018-09-27 04:27] taihaofu commented on #1557
This seems to be a known issue that when you try to stop java-tron you shutdown docker directly on k8s or use kill -9, and this lead db not revoke properly. The recommended way is to use kill -15 to stop java-tron. Now, you have to delete and resync db...

[2018-09-27 11:09] shydesky commented on #1562
thanks for your submission， we fix this problem on the branch develop.Have fun with Tron!!

[2018-09-27 13:37] Rovak commented on #994
I closed this issue because requesting test TRX is related to the https://github.com/tronscan/tronscan-frontend project and not the `java-tron` project. My apologies for closing this issue without further explanation.

[2018-09-27 13:52] wuno commented on #994
Ahhhh fair enough, thank you @Rovak  I appreciate your help. I will search that repo!

[2018-09-27 23:44] Shrey33 commented on #1557
@benjaminchencobinhood can you provide me the logs ?

[2018-09-28 02:13] benjaminchencobinhood commented on #1557
Sure, could you provide me an email or somewhere that I can upload the log? (about 122MB)

[2018-09-28 07:29] taihaofu commented on #1562
Not reproduced, but we got similar issue before. So, please try it on develop and let us know if you still have the issue.

Thanks.

[2018-09-28 08:30] Shrey33 commented on #1557
@benjaminchencobinhood ya sure, shrey.shah002@gmail.com

[2018-09-28 10:36] Shrey33 commented on #1557
@benjaminchencobinhood the file type is unsupported, can you send the logs in a text file ?

[2018-09-28 11:29] Shrey33 commented on #1557
@benjaminchencobinhood can you add the reproduction steps ?

[2018-09-28 15:05] Shrey33 commented on #1557
@benjaminchencobinhood reproduction steps ?

[2018-09-28 15:48] benjaminchencobinhood commented on #1557
Sorry,I don't have specific reproduce steps. Because we deploy the docker image on k8s, the pod will automatically restart if needed.

Just hope that the fullnode can do something like "rollback some blocks", then keep syncing.

[2018-09-29 13:30] hustxiaoc commented on #1562
@taihaofu it works ok on develop branch,  but i got another issue,  the block id I calculated doesn't match the one the tronscan.

Here is the block data.
[code]
And the block id I calculate is `00000000002a349d3decb12b5dbf5949c8978ccf4f5fd7075effc838a3417d96`, but the real one is `00000000002a349dae6d2f05da3254d76f7334d273714b285dff9f72842c81dc`, did i miss something?

[2018-09-30 06:15] shydesky commented on #1562
how did you calculate?

[2018-09-30 06:51] hustxiaoc commented on #1562
[code]

[2018-09-30 09:06] Shrey33 commented on #1557
@benjaminchencobinhood you are right when I'm running fullnode and solidity node in docker on k8s the node can't sync anymore.

Can you tell me the impact ?

[2018-10-01 04:06] taihaofu commented on #1562
Curious about how you get the Block data you provide above?

blockId is generated basing on hash and height(replace the last 8 bytes of original hash). And the hash should be calculated basing on BlockHeader.raw_data in protobuf when you create a block.

Some related code:    https://github.com/tronprotocol/java-tron/blob/3f5eadd9993d308aeb28d3dbd84ebc227b601a71/src/main/java/org/tron/core/capsule

[2018-10-02 02:18] benjaminchencobinhood commented on #1557
I don't understand why you ask me the impact.
If a blockchain can't not sync to latest block, what it can do?

[2018-10-02 09:28] SnearK6354 opened #1572 "Build Failed on Linux"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
Trying to build latest Odyssey release 3.1.1.
sudo ./gradlew build

2. What did you expect to see?
BUILD SUCCESSFUL

3. What did you see instead?
![image](https://user-images.githubusercontent.com/35176703/46340618-3f758480-c636-11e8-80d4-b78bfa28d966.png)

[2018-10-02 20:00] gregorst3 commented on #1572
Same here

[2018-10-02 21:21] kookiekrak commented on #1572
Seems like the maven repository is having some issues. Please manually apply this patch to your build.gradle file

https://github.com/tronprotocol/java-tron/pull/1574

[2018-10-02 23:06] gregorst3 commented on #1572
Thank you @kookiekrak

[2018-10-02 23:09] gregorst3 commented on #1572
Thank you @kookiekrak

[2018-10-03 06:57] giancarlo94 commented on #1572
Thanks, fixed the issue for me!

[2018-10-03 09:43] SnearK6354 commented on #1572
Thanks !

[2018-10-03 09:43] #1572 closed

[2018-10-03 09:43] SnearK6354 commented on #1572
If Maven url is not updated on their side, do not forget to add this change in next release :-)

Thanks again for the support.

[2018-10-06 05:02] wuno commented on #581
I have seen that the ability to request TRX has been removed from the account page on https://test.tronscan.org/#/account

Does anyone know how we are supposed to obtain test TRX?

[2018-10-08 01:40] wanglei-sky commented on #1552
I want to know how to solve the following error?
Sometimes the process itself dies
**Error in sync solidity block dup exception**

[2018-10-08 02:51] zhp1254 opened #1576 "节点同步卡在2242360"
为什么节点块一直不同步呢，好多天了一直出现下面这条日志，配置文件是git上的没有修改

Peer 120.79.141.222:18888: [           cb1f0537, ping     52 ms]-----------
connect time: 2018-10-08 10:42:08.114
last know block num: 2242360
needSyncFromPeer:true
needSyncFromUs:false
syncToFetchSize:4000
syncToFetchSizePeekNum:2242361
syncBlockRequestedSize:0
unFetchSynNum:3266
syncChainRequested:NULL
blockInPorc:0
NodeStat[reput: 157(0), discover: 3/

[2018-10-08 09:57] luomiwhy opened #1577 "cannot build both linux and windows with error ”Content is not allowed in prolog“"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

~/tron/java-tron-Odyssey-v3.1.1$ ./gradlew build
Download http://mvnrepository.com/com/google/protobuf/protobuf-gradle-plugin/0.8.3/protobuf-gradle-plugin-0.8.3.pom

[Fatal Error] protobuf-gradle-plugin-0.8.3.pom:1:44: Content is not allowed in prolog.

[2018-10-08 09:59] taihaofu commented on #1577
please refer to https://github.com/tronprotocol/java-tron/pull/1574/files

[2018-10-08 11:38] zychappy opened #1578 "gradlew build error"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
[code]
2. What did you expect to see?

3. What did you see instead?

[2018-10-08 11:44] luomiwhy commented on #1577
good, resolved

[2018-10-08 11:44] #1577 closed

[2018-10-08 11:45] luomiwhy commented on #1578
@ #1577
see it

[2018-10-08 12:43] zychappy commented on #1578
@luomiwhy

maven2 doesnot includes 'https://jcenter.bintray.com/com/github/jengelman/gradle/plugins/shadow/2.0.2/shadow-2.0.2.jar'
I tried to add maven like this:
[code]
but there is a new problem:
[code]

[2018-10-08 17:35] jotto opened #1579 "Is the Tron foundation's 33,251,807,424 TRX actually locked?"
Hello all,

After reading this blog post https://medium.com/tron-foundation/33-251-807-424-trx-were-locked-in-1000-addresses-of-tron-mainnet-feee5a5685c9

I assumed there was some locking functionality in Tron, but I can't find it.

1. Are those 1,000 accounts actually locked, meaning impossible to withdraw from?
2. What locking functionality exists in Tron?

[2018-10-08 17:40] jotto opened #1580 "Are transactions created for the 32 TRX block reward?"
When I query all the blocks via the [API](https://github.com/tronprotocol/Documentation/blob/master/TRX/Tron-http.md), e.g.:

[code]

and group all transactions by type:

[code]

I don't see any transactions for the block rewards. I looked through the code and found [this](https://github.com/tronprotocol/java-tron/blob/3f5eadd9993d308aeb28d3dbd84ebc227b601a71/src/main/java/org/tron/core/db/Manager

[2018-10-09 01:27] jotto commented on #1580
thanks @kookiekrak

Do you know why we can't see the amount in the `WithdrawBalanceContract` transactions? It seems impossible to audit block rewards.

[2018-10-09 01:35] jotto commented on #1579
@kookiekrak it looks like the max freeze duration is only 3 days, am I looking at this wrong? https://github.com/tronprotocol/java-tron/blob/3f5eadd9993d308aeb28d3dbd84ebc227b601a71/src/main/java/org/tron/core/db/DynamicPropertiesStore.java#L188

[2018-10-09 01:38] zychappy commented on #1578
@kookiekrak Thanks! it works now,maybe something wrong with my network yesterday？

[2018-10-09 01:38] #1578 closed

[2018-10-09 01:53] kookiekrak commented on #1579
heh yep you're right. as long as no unfreeze is called, the balance remains frozen

[2018-10-09 01:54] kookiekrak commented on #1580
it wasn't added to the protocol. the block rewards need to be calculated based on a formula, you can see which sr produced every block

[2018-10-09 02:00] jotto commented on #1579
And in the case of those 1,000 address where the 33 billion TRX was sent, I just checked 3 random ones but they were never frozen, am I correct?

* TAff8nzfnQdEwijAHK2ag2AjoZ3iqxfJTN
* TRLq2Zxdzxr6oqnsjHu9eSm5Qj2QQLHWvb
* TWT6Hzh2NDDNLkLKgSd5XNMVnsF7S8wbEf

[2018-10-09 02:11] kookiekrak commented on #1579
Yeah, the foundation's TRX aren't "frozen" locked because it would compete for available network bandwidth for other users.

They published the addresses so that users can observe the balance at any time.

[2018-10-09 02:12] jotto commented on #1579
thank you for the answers @kookiekrak

[2018-10-09 02:55] kookiekrak commented on #1579
np. feel free to email tian@tron.network or telegram @kookiekrak if you have future questions!

[2018-10-09 02:55] #1579 closed

[2018-10-09 07:01] zychappy opened #1582 "gradlew build fail in Ubuntu"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?

### 1.1 Ubuntu 16.04.2 LTS

### 1.2 openjdk version "1.8.0_171"
OpenJDK Runtime Environment (build 1.8.0_171-8u171-b11-0ubuntu0.16.04.1-b11)
OpenJDK 64-Bit Server VM (build 25.171-b11, mixed mode)

### 1.3 java-tron-Odyssey-v3.1.1
[code]

2. What did you expect to see?

build successful

3. What did you see i

[2018-10-09 14:38] Shrey33 commented on #1557
@benjaminchencobinhood Your database is corrupted. Please delete the output-directory and resync.

[2018-10-09 15:30] indocolabs opened #1585 "whats wrong?"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

when i run build i see the following error like bellow
i dont know what should i do

2. What did you expect to see?

3. What did you see instead?

root@vps489802:/home/java-tron# ./gradlew build
Downloading https://services.gradle.org/distributions/grad

[2018-10-09 17:59] sonpython commented on #1585
the same to me.

it seems the link for downloading grpc-core-1.14.0 was not reachable.

`http://mvnrepository.com/io/grpc/grpc-core/1.14.0/grpc-core-1.14.0.pom`

should be replaced by this link
`http://central.maven.org/maven2/io/grpc/grpc-core/1.14.0/grpc-core-1.14.0.pom`

[2018-10-09 19:02] Shrey33 commented on #1576
@zhp1254 what is the issue here ?

[2018-10-10 02:34] zhp1254 commented on #1576
when run the node for a while,  the services stop sync block, it log above info , i try it on other machine, i got the same problem and there no error log

[2018-10-10 09:56] haidoan commented on #581
@wuno I also cant find test TRX so I have test with mainnet TRX, You can get 2 main net TRX from [here](https://t.me/TronHelp). this issue existing for long time but seem like tron foundation ignore it.

[2018-10-10 11:47] zychappy opened #1588 "where API guide?"
I think there is the API guide like that:
[code]
result like that:
[code]

[2018-10-10 16:03] benjaminchencobinhood commented on #1557
Of course I know delete the output-directory and resync works. But tron team needs to provide a better solution for this issue. You can't just say "delete the output-directory and resync", for me, the response equals to "Sorry, you can't run TRON in a docker on k8s".

[2018-10-11 10:12] lightshine001 commented on #1585
Same to me
[aaron@localhost tron]$ sudo bash deploy_tron.sh
download code from git repositorie
--2018-10-11 18:09:39--  https://raw.githubusercontent.com/tronprotocol/TronDeployment/master/main_net_config.conf
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.188.133
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.188.133|:443... connected.
HTTP

[2018-10-12 06:03] xcluo commented on #1576
Same thing with me!!! how to fix and what can i do?  we are in emergency!

[2018-10-12 08:56] taihaofu commented on #1576
Please update your code to 3.1.2 release. And try again.

[2018-10-12 12:18] RahulSarkar1992 commented on #10
Hi,

I am facing the same issue.
can you please tell me where

Hi,

I am facing the same issue, but not able to find the database-test directory.
can you please tell me the exact directory location of database-test.

Thanks,

[2018-10-12 12:32] RahulSarkar1992 opened #1598 "gradlew build failed"
Please answer these questions before submitting your issue. Thanks!

While I am trying to build it shows the error, I have gone through all the possible solution but still not succeeded.

org.tron.core.db.api.StoreAPITest > classMethod FAILED
    java.lang.ExceptionInInitializerError

        Caused by:
        org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating bean w

[2018-10-13 09:35] xcluo commented on #1576
Return error by call grpc-gateway/master:
API -> GetNowBlock:
{"error":"unknown message type \"protocol.TriggerSmartContract\"","code":2}

[2018-10-13 10:30] taihaofu commented on #1576
We didn't support grpc-gateway for months. Suggest to use our http api or wallet-cli to make call.

[2018-10-14 18:12] jackman24212 opened #1599 "Java 8 deprecation?"
Is Tron going to move to Java10 since 8 will be deprecated at the end of the year?

[2018-10-15 01:42] xcluo commented on #1576
As you know,  call the API has been in HTTP by github.com/tronprotocol/grpc-gateway, so you mean Tron supply API services originally by github.com/tronprotocol/java-tron?

[2018-10-15 08:04] xcluo commented on #1576
Thanks so much! The problem has been resolved by to upgrade v3.1.2!

[2018-10-15 10:44] zhp1254 commented on #1576
@taihaofu 节点应该会支付grpc接口吧

[2018-10-15 10:58] taihaofu commented on #1576
是的，支持的。
grpc https://github.com/tronprotocol/Documentation/blob/master/中文文档/波场协议/波场钱包RPC-API.md
http https://github.com/tronprotocol/Documentation/blob/master/TRX_CN/Tron-http.md

[2018-10-16 12:14] #1576 closed

[2018-10-16 12:15] zhp1254 commented on #1576
update to 3.1.2 release

[2018-10-16 12:25] zhp1254 opened #1607 "FreezeBalance2 grpc api frozenDuration could not set other number except 3"
FreezeBalance2 grpc api frozenDuration could not  set other number except 3
i got an error when set it 2 or 4
**error code**:
CONTRACT_VALIDATE_ERROR
**error msg:**
frozenDuration must be less than 3 days and more than 3 days

[2018-10-16 12:37] taihaofu commented on #1607
This is expected by design. Only 3 is valid. It may be changed in future release, but we prefer to keep it as 3 for now. https://github.com/tronprotocol/Documentation/blob/master/English_Documentation/TRON_Protocol/Freezing%26Voting_Update.MD

[2018-10-17 08:50] zhp1254 opened #1610 "/wallet/getblockbynum return error timestamp"
**http api:**
/wallet/getblockbynum?num=3010000
**transaction :**
"txID": "b3bab27c009f795e1974dab3c5fbccdab5e3c365ec202bcbdb789e4d058270a2",
**"timestamp": 560646942389**
and on https://www.trxplorer.io/tx/b3bab27c009f795e1974dab3c5fbccdab5e3c365ec202bcbdb789e4d058270a2
it show me 08-10-2018 07:15:51

![image](https://user-images.githubusercontent.com/18046237/47074615-5074e700-d22d-11e8-8ac3-16b

[2018-10-17 09:28] taihaofu commented on #1610
Thank you to point this out. It's not a bug here. Seems someone created a transaction without giving a proper timestamp on a specific fullnode. This can happen. Instead, you can always trust the block timestamp created by SR.

[2018-10-17 09:31] modrblesk commented on #1610
oky

--
Karel Hospodářský
Rožmitál na Šumavě 18
Kaplice 382 92
ID -jddey9t
aukce stoleti http://www.cosmito.cz/?zu=6d6f647269626c65736b
potvrdte tento odkaz bez obav

https://www.vratnepenize.cz/?ref=150504

----------------------------
pevná 399499386
mobilní telefon +420605971421

---------- Původní e-mail ----------
Od: taihaofu <notifications@github.com>
Komu: tronprotocol/java-tron <java-tron

[2018-10-17 09:34] #1610 closed

[2018-10-17 09:36] #1607 closed

[2018-10-17 09:38] zhp1254 commented on #1380
how to get trx on test-net

[2018-10-18 04:00] zhp1254 opened #1612 "who is the real tron fee"
#1527

the GetTransactionInfoById api show me 6 field
[code]
i find NetUsage has value on TransferContract and NetFee has value on TransferAssetContract, and the other always 0
my problem is ：
1、what different of NetFee and NetUsage
2、what the unit of NetFee and NetUsage
3、if the unit not sun, han can i get the real tron fee , which occur 3rd option on the bleow img

![image](https://user-images.g

[2018-10-18 15:20] frank077 opened #1619 "cannot sync past block3244926"
cannot sync past block 3244926 tried 4 times with 2 different servers
32 cores 64GB 2 TB SAS
i have deleted output directory and resynced but stops at the same block every time

Peer 95.179.152.13:18888: [           88ca0b78, ping    194 ms]-----------
connect time: 2018-10-18 05:42:06.212
last know block num: 3244924
needSyncFromPeer:true
needSyncFromUs:false
syncToFetchSize:3999
syncToFetchSizeP

[2018-10-18 19:08] nfleury commented on #711
I am closing this : TransactionInfo was implemented to solve this

[2018-10-18 19:08] #711 closed

[2018-10-18 19:12] nfleury commented on #1368
The negative impact was just that some third party client, like trxplorer.io in my case can rely on one of those nodes that don't reply anymore

But anyway it was fixed and I implemented a load balancer to prevent this kind of thing from happening again.

I am closing this issue. Thanks

[2018-10-18 19:12] #1368 closed

[2018-10-18 19:25] nfleury opened #1620 "No URL validation for Tokens"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
Checked some urls of some tokens

2. What did you expect to see?
Valid URLs for the tokens

3. What did you see instead?
Invalid URLs for many tokens . Some of them doesn't contain any protocol (http://), some are just basic emails, and others only contain the protocol part or nothing related to an URL

Some e

[2018-10-19 01:54] bitcodernull commented on #1619
i have stopped at 3307927

[2018-10-19 03:02] frank077 commented on #1619
solved my problem by downloading the latest file /java-tron.git and rebuilt   fullnode.jar
copied the file into my folder  and synced from scratch

[2018-10-19 03:02] #1619 closed

[2018-10-22 06:07] jatin7413 opened #1625 "Syncing stops at a particular blocknumber"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

Hi,
I started tron as FullNode on my server. It was in sync with the blockchain and i was able to make transactions.
However, the syncing stopped at blocknumber 3244924 and ever since no block is being synced.
The error is saw in logs is -

`ERROR [pool

[2018-10-22 06:11] jatin7413 opened #1626 "Tron syncing stuck at a particular blocknumber"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

Hi,
I started tron as FullNode on my server. It was in sync with the blockchain and i was able to make transactions.
However, the syncing stopped at blocknumber 3244924 and ever since no block is being synced.
The error is saw in logs is -

`ERROR [pool

[2018-10-23 07:33] lightshine001 commented on #1380
Same to me. Is any way to get test TRX?

[2018-10-23 18:58] Shrey33 commented on #1626
@jatin7413 can you provide some more detail ?

[2018-10-23 19:55] jotto commented on #1626
I have same issue, block: 3244924, date: 2018-10-16T09:21:30.000Z ( 1539681690000 )

[2018-10-23 19:57] jotto commented on #1626
[code]

[2018-10-23 20:53] jotto commented on #1626
I was on 3.1.1 when it happened, I updated to 3.1.3 but it didn't help

[2018-10-24 02:58] tjchern commented on #1626
ok, it looks like the database's problem, so you can resolve it step by step as follow:
1.  use kill -15 to shutdown the node.
2. delete the datebase(output-directory default)
3. upgrade the configeration file https://github.com/tronprotocol/tron-deployment.
4. you can use our offical data dump http://47.89.178.46/, so that  you don't have to resync. of course you can also sync from the genesis bl

[2018-10-24 08:10] nfleury commented on #1620
@Shrey33 I don't have any logs or screenshot. The fact that these type of url exists on the blockchain (see urls) shows that there is currently no validation, but I don't know if that was intentional to have a loose validation like that.

After looking at the code that should validate the URL (TransactionUtil::validUrl) I see some very basic validation only on length right now, but also a comment

[2018-10-24 20:40] kolya182 opened #1642 "Improve get totaltransaction speed"
Initially issue was open for `[tron-web](https://github.com/tronprotocol/tron-web/issues/59)`

Is any way to improve time for count transactions ?. Current query takes `~40 sec`, preferred time `<1sec`.

[2018-10-25 15:30] kaankozan opened #1646 "java.lang.OutOfMemoryError: GC overhead limit exceeded"
Please answer these questions before submitting your issue. Thanks!

My error this and not sync

java.lang.OutOfMemoryError: GC overhead limit exceeded

What is a problem?

[2018-10-25 19:37] Shrey33 commented on #1646
@kaankozan can you provide the logs and reproduction steps ?

[2018-10-26 03:04] #1626 closed

[2018-10-26 09:04] zhaohong commented on #1646
what's your jvm  heap size ?   -xmx.   It's seems that  there are not enough heap memory.

[2018-10-26 09:31] zhp1254 opened #1649 "transaction confirmed but the owner address balance do not change"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
i do not know is the transaction is success
transaction hash :  954206e7c889abf971945f6f1f0131ebae55451a2666814659c4b6a66d5fd2a8
block chain https://www.trxplorer.io/tx/954206e7c889abf971945f6f1f0131ebae55451a2666814659c4b6a66d5fd2a8

3. What did you see instead?
as the image show: the transaction is confirmed

[2018-10-27 01:15] charaton commented on #1509
Did you resolve this? I'm having same issue.

[2018-10-27 05:54] weijinsun opened #1653 "The test_ev2 branch is recommended to add the contract address filter configuration"
When I deployed the event node myself, I wanted to save only the contract events I was interested in, which would save space and improve query efficiency

[2018-10-31 05:57] nfleury commented on #1649
@zhp1254 This issue is not related to java-tron, but trxplorer.io - I am currently working on fixing this issue, you can close this issue here an reopen it here if you want to : https://github.com/trxplorer/explorer/issues

[2018-10-31 16:33] jotto opened #1665 "what is going on in block 1102553?"
When I request this block from the API: `/wallet/getblockbynum`, I get this weird `ret` field in the first transaction. Is it an anomaly or is it significant?

[code]

whole block is:

[code]

[2018-10-31 18:23] sonpython commented on #1625
same here just stuck at block 3244924

log

[code]

[2018-11-01 07:09] sonpython opened #1668 "Node stuck at block 3244924, reinstall + resync many times not work"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
  - My Fullnode sync normally until block `3244924` it just stuck there.
  - I've completely remove and reinstall + resync many times just stuck at that block

2. What did you expect to see?
**- Sync to the latest block**

3. What did you see instead?
**- Stuck at block `3244924`**

4. Related Issues but no on

[2018-11-01 18:12] jotto commented on #1668
see https://github.com/tronprotocol/java-tron/issues/1626

[2018-11-01 20:29] kaankozan commented on #1646
https://github.com/tronprotocol/java-tron/issues/1668#issuecomment-435175691

[2018-11-01 20:29] #1646 closed

[2018-11-01 20:29] kaankozan commented on #1625
https://github.com/tronprotocol/java-tron/issues/1668#issuecomment-435175691

[2018-11-02 09:58] zhaohong commented on #1668
Please check your configuration.  you can try to change vm mintimeratio  from 0.6 to 0.0

[2018-11-02 09:59] zhaohong commented on #1649
@nfleury  thanks.

[2018-11-02 09:59] #1649 closed

[2018-11-02 10:01] zhaohong commented on #1642
gettotaltransaction wiil be not used.

[2018-11-02 10:04] zhaohong commented on #1620
will not add this validater at protocol  layer.

[2018-11-02 10:07] zhaohong commented on #1612
NetUsage is for bandwidth ,  if you don't have bandwidth netfee is for transaction fee

[2018-11-02 10:11] zhaohong commented on #1557
@benjaminchencobinhood  sorry,   Shrey33 is scam.

[2018-11-02 17:31] #1642 closed

[2018-11-02 17:45] Melvillian commented on #1181
Does this mean there is no multisignature support in TRON? If there is support for multisig, can someone link a developer guide for how to implement it outside of java-tron?

[2018-11-03 06:38] nfleury commented on #1620
Ok thanks for the clear answer @zhaohong

[2018-11-03 06:38] #1620 closed

[2018-11-03 11:31] ampopp04 opened #1676 "@Disabled or Remove"
https://github.com/tronprotocol/java-tron/blob/1d5469af82edd1b76c923842d529b8ddaa63d72e/src/test/java/org/tron/common/command/CliTest.java#L22

[2018-11-04 17:46] yukairex opened #1677 "Fallback function does not work at least on Shasta Testnet"
The fallback function does not work on the Shasta testnet. It receives TRX pay, but does not trigger function.

Environment：
    host: "https://api.trongrid.io",
      port: 8090,
      fullNode: "https://api.shasta.trongrid.io",
      solidityNode: "https://api.shasta.trongrid.io",
      eventServer: "https://api.shasta.trongrid.io",
      network_id: "*" // Match any network id

I made a minimiz

[2018-11-05 05:29] zhaohong commented on #1668
![dpz3z4-uwaasm1p](https://user-images.githubusercontent.com/2025363/47979576-d387af80-e0fe-11e8-9dbb-5136701e509c.jpg)

[2018-11-06 02:49] zhaohong commented on #1677
@yukairex  hi, the fallback function  can't be triggered only be send trx.  the fallback function is called when there is  no-matched function.

[2018-11-06 02:54] yukairex commented on #1677
@zhaohong Thanks for your reply. The fallback function shall be triggered whenever no-matched function is found OR a contract received TRX (or ETH in ethereum case)

Please see https://solidity.readthedocs.io/en/latest/contracts.html?highlight=fallback for clarification

It is a widely used method in ethereum

[2018-11-06 05:08] zhaohong commented on #1676
will do, thanks. also, you can submit a pr directly.
thanks!

[2018-11-06 05:56] zhaohong commented on #1677
ok thanks @yukairex

[2018-11-06 06:02] taihaofu commented on #1677
@yukairex, Hi yukairex, Thank you for your question. This is a different need to be attended when you directly transfer your trx to a smart contract account. General speaking, we have two types of contracts in Tron, system contract and smart contract. The way we use to directly transfer trx is called TransferContract which is a system contract. It will not use the logic in smart contract. And this

[2018-11-06 23:49] yukairex commented on #1677
@taihaofu thanks for clarification.

I was also trying sending the trx between two contracts. The idea is that once contract B receives payments from contract A, the fallback method triggers. However, I found it does not work in this way in TRON.

For example, in one contract, the method is
`function trigger(address _address) public {
          address.transfer(address(this).balance);
}`

In this

[2018-11-07 02:58] taihaofu commented on #1677
@yukairex we fully support the contract call contract case(which is normally called internal transaction).

I guess the problem is the logic you implemented in your fallback function. For transfer() native function, we have a 2300 energy limit for security reason. This means when doing a transfer() you can only have 2300 energy sent into the function in contract A and its related fallback function

[2018-11-07 22:31] bpetridis opened #1692 "Address SonarQube Blocker, Critical, Major Issues"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
Ran the current develop branch through Sonarqube scanner to evaluate the 101, code quality

2. What did you expect to see?

No Blocker, Major or Critical issues

3. What did you see instead?

Lots of Blocker, Major and Critical issues.
![2018-11-08_8-30-46](https://user-images.githubusercontent.com/41990123/48

[2018-11-08 02:03] taihaofu commented on #1677
@yukairex , Can you provide your related contract code pieces to us if it is still not working? Especially, the fallback part if you implemented in your contract B.

Thanks.

[2018-11-08 02:36] taihaofu commented on #1677
@yukairex, I see. That make sense to me.
Please check here:
[code]
Just like I mentioned in previous comments, this will cost more than 2300 energy you can have in transfer function. your code would like to fail due to the lacking of energy.
So what you can do instead is to use an event (log) to track what you did in the whole transfer transaction.
You would probably get the same result when you r

[2018-11-08 03:11] zhaohong commented on #1692
we are also using sonarcloud,  so we are continuous improving the quality of code.

[2018-11-08 03:59] yukairex commented on #1677
@taihaofu
hmm. Thanks for your clarification

[2018-11-08 06:31] jinshunjing opened #1694 "Run a full node connecting Shasta Testnet"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
I ran a full node with below config trying to connect Shasta testnet:
...
  p2p {
    version = 20180911
  }

  active = [
"47.254.45.208:18888",
"47.90.240.239:18888",
"47.88.55.186:18888",
"47.89.188.162:18888",
"148.251.42.172:18888",
"47.254.33.129:18888",
"47.254.75.152:18888",
"47.254.73.154:18888",
"47.

[2018-11-09 03:09] tmao1129 commented on #1694
@jinshunjing  Please join us in the TRON Developers Discord channel at https://discordapp.com/invite/GsRgsTD. Thanks.

[2018-11-09 03:15] #1588 closed

[2018-11-09 08:31] zhaohong commented on #1580
@jotto  you can use getaccount api to see the allowance field

[2018-11-09 08:35] zhaohong commented on #1552
@wanglei-sky   the data has corrupt at this situation.

[2018-11-09 08:47] weijinsun commented on #1653
Mongodb will save all events, but I want to only save my own contract events, so I hope to add a filter configuration.

[2018-11-09 08:47] weijinsun commented on #1653
Mongodb will save all events, but I want to only save my own contract events, so I hope to add a filter configuration.

[2018-11-09 09:05] renchenchang commented on #1612
1. grpc接口返回的数据中怎么判断手续费费是上图1、2、3中的哪一个：第3个。
2. what different of NetFee and NetUsage?  NetUsage is the total bandwidth used for the transaction. if you have neither frozen bandwidth nor free bandwidth, the transaction will cost your trx. So netfee is the number of trx you cast, and it's unit is SUN.  1TRX = 1000000SUN

[2018-11-10 11:37] digforit opened #1707 "No secondary token in exchanges contracts"
{
        "ownerAddress": "TSYWAMtDtAWfaxowBDsKsB9LQCa3zRDYiR",
        "exchangeId": 9,
        "tokenId": "_",
        "quant": 50347372,
        "expected": 10,
        "contractType": 44,
        "hash": "f9c34f7f1fca9df61254e9de2bdcae38dbbcf193a017f8537339b1413afeacb5",
        "time": 0
},

1. What did you do?
I need to track each exchange contract to know what is the exactly the token which

[2018-11-10 11:37] #1707 closed

[2018-11-11 08:30] TamirTian opened #1708 "How to understand 'ret'"
### How to understand 'ret'
I can't find a description of protocol.

[code]

[2018-11-11 11:50] rainysiu opened #1709 "SmartContract-there are no details information for TRX 20 transfer"
While transfer directly by TRX20’s smart contract to send transaction
https://tronscan.org/#/transaction/26c44b2a5407d04beaf0605ef8e9d813914a04a181ae5a72f922eb21223231bf
There are no details information about this transaction
We need : Token’s name, from, to, amount, symbol, decimal and so on.

Please refer to the TRX20’s standard definition

[2018-11-11 11:53] rainysiu opened #1710 "The amount of TRX internal-transaction in smart contract is not shown"
The amount of TRX internal-transaction in smart contract  is not shown
https://tronscan.org/#/transaction/a697b50e3f464d3dab695f654cea40c03c480d337010b7bf72f2f99ca35c6cb5

If transfer trx in smart contact, the amount of trx isn’t shown
If there are several TRX transfer transactions, please show all of them

[2018-11-11 11:54] rainysiu opened #1711 "The amount of TRX20 internal-transaction in smart contract is not shown on tronscan"
The amount of TRX20 internal-transaction in smart contract is not shown on tronscan
https://tronscan.org/#/contract/TBHN6guS6ztVVXbFivajdG3PxFUZ5UXGxY/events

If transfer trx20 in smart contact, the amount of trx20 isn’t shown
If there are several TRX20 transfer transactions, please show all of them

*You can get events data by the interface  getTransactionInfoById

[2018-11-11 13:00] TamirTian opened #1712 "wtf timestamp in block of 2008"
### Why is there such a strange time ?
I got a wrong timestamp 1529897558258000000 of '$.transactions.raw_data.timestamp '
### Context
[code]

[2018-11-12 03:12] TamirTian commented on #1712
This timestamp was created from Tron-Node ？

[2018-11-12 04:31] taihaofu commented on #1710
@rainysiu , Thank you for your question. This will be released in Odyssey-3.2 at the end of this month. Now it is in the testing stage.

[2018-11-12 04:31] taihaofu commented on #1709
@rainysiu , we already implemented related part in java-tron. Tronscan team will work on the rest part of it.

[2018-11-12 04:51] #1708 closed

[2018-11-12 05:04] zhaohong commented on #1709
this is a requirement for tronscan ,   java-tron alreay support his.
please submit the requirement to tronscan github.

[2018-11-12 05:04] #1709 closed

[2018-11-12 05:09] zhaohong commented on #1710
@taihaofu please refer this to release node, thanks

[2018-11-12 05:11] zhaohong commented on #1711
when #1710 finished , tronscan team can do this.

[2018-11-12 05:11] zhaohong commented on #1711
please submit the tronscan requirement to tronscan github, thanks.

[2018-11-21 07:33] zhaohong commented on #1653
test_ev2 branch is not released branch and the feature in test_ev2 is not support by core team.

[2018-11-21 07:34] #1653 closed

[2018-11-21 07:39] zhaohong commented on #1181
@Melvillian  you can implement multisignature by smart contract for  now.
also, we will release the  native muti-sig feauture by the end of 2018.

[2018-11-21 07:40] #1380 closed

[2018-11-21 08:55] renchenchang commented on #1665
because the definition of Result in older proto like this
![image](https://user-images.githubusercontent.com/37399454/48829658-c250cb00-edad-11e8-835f-8ff2b7c2ca15.png)

we delete the forth field in new proto. when the older object is parsed by newer definition, this issue will happen.

[2018-11-23 20:16] yukairex opened #1767 "mainnet Event Server Connection Error"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
**We try to receive event that emitted by our contract** However the connection cannot be established sometimes, and for now at least 11/23, 3:15pm est

2. What did you expect to see?
**our connection to https://api.trongrid.io/ is failed. we tried to us

[2018-11-26 11:17] kookiekrak commented on #1694
@UnforgivenZZZ update this plz

[2018-11-28 09:10] shequ123 opened #1777 "The transaction type "UpdateSettingContract" is missing."
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
When I using Tron API (HTTP)
getTransaction("4fd9098bdb223afffd749b57080ae75edf4af7eb14ee4fe835279619c2a67600");
I didn't get any information about the contract.
only
[code]
and the Object:
[code]

2. What did you expect to see?
the correct information of the contract.

3. What did you see instead?
{ type_url:

[2018-11-28 15:27] KrzysztofHajdamowicz opened #1780 "Gradlew uses features to be deprecated"
[code]

Gradle warns about things are deprecated and will be removed.

[2018-11-28 15:53] benjaminchencobinhood opened #1781 "about backups.trongrid.io"
The question is about https://backups.trongrid.io

Since the website provide links to download fullnode and solidity database,
could you please add a link point to the latest fullnode and solidity?
So that I don't need to parse the website to get the latest data.

[2018-11-29 05:19] #1781 closed

[2018-11-29 08:11] kayfhan opened #1789 "GetAccountServlet api 'net_usage' displayed incorrectly"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
remove:
BandwidthProcessor processor = new BandwidthProcessor(dbManager);
processor.updateUsage(accountWrapper);

2. What did you expect to see?

3. What did you see instead?

[2018-11-29 08:15] kayfhan opened #1790 "'listNodes' rpc api nodes num error."
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
when remove a node, listnodes rpc api returned the number of nodes  is incorrect.

2. What did you expect to see?

3. What did you see instead?

[2018-11-29 09:24] bitcodernull opened #1791 "geteventbytransactionid return null array"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

i want to get the trc20 internal transfer from my mode
i use the interface :  getEventByTransactionid, but return null array.

2. What did you expect to see?
i want to get the events

3. What did you see instead?

null array

[2018-11-30 04:00] zhaohong commented on #1790
@olenheim  to check

[2018-11-30 04:01] zhaohong commented on #1791
@taihaofu

[2018-11-30 04:11] taihaofu commented on #1791
Hi, @bitcodernull. Currently we don't provide getEventByTransactionid interface in Java-tron. Which branch are you using for test?

[2018-11-30 07:28] #1791 closed, assigned to taihaofu

[2018-11-30 11:53] eboyRS opened #1799 "http header error"
I user tronWeb  like this

`node tronWeb
tronWeb.trx.getTransaction('3d28ee6151fea33f346ad2c2c400efb9fc0ad3f59303f3148a137dc373b5d1ce')

Promise {
  <pending>,
  domain:
   Domain {
     domain: null,
     _events: { error: [Function: debugDomainError] },
     _eventsCount: 1,
     _maxListeners: undefined,
     members: [] } }
 (node:27200) UnhandledPromiseRejectionWarning: Error: timeout of 3000

[2018-12-01 03:48] bpetridis commented on #1692
Thanks for the response. God speed cleaning it up. I've setup my local dev env so will see if I can contritube some of the fixes myself time permitting. Thanks mate 👍

[2018-12-03 02:30] #1799 closed

[2018-12-03 03:44] #1789 closed

[2018-12-03 04:14] zhaohong commented on #1692
@bpetridis  welcome

[2018-12-03 04:14] #1692 closed

[2018-12-03 04:15] zhaohong commented on #1780
thanks , will fix this later.

[2018-12-03 04:34] taihaofu commented on #1777
Hi, @shequ123 . Do you still have the same issue? Are you using TronWeb or just our http api?
I try this api on my local environment. And after I trigger a update setting contract. Use gettransactionbyid interface to query my transaction, I can successfully get :

        {
              "ret":[{"contractRet":"SUCCESS"}],
              "signature":["ea5f0f310fbfcbe2cba3eeb94719e404b9e3880c97a71f2c

[2018-12-03 05:29] taihaofu commented on #1777
Hi, I get your point. I query the same transaction id you are using and get your output. The reason is the node you are using do not have the latest code contain update setting contract decoder. Connecting to a node contains the latest Odyssey_v3.2 code you would be able to get it. Try this node:
47.89.244.139.

"contract":[
         {
            "parameter":{
               "value":{

[2018-12-03 07:39] jooyyy opened #1805 "How to get TRC20 token balance of an account"
There is no direct way to get TRC20 token balance for an account;
I also try to trigger smart contract and call "func balanceof(address)", but get "error other error : cannot call constant method" in the end.

[2018-12-03 08:17] taihaofu commented on #1805
Hi, how do you call the balanceOf function? Http/rpc api? Or wallet-cli, TronWeb, tronstudio? Can you please provide more specific way?

Normally what you should do is use trigger contract  and call "balanceOf(address) <address>" on a constant call supported fullnode, such as 54.236.37.243.

Using wallet-cli you can use: triggercontract contractaddress balanceOf(address) "youraddress
" false 10000

[2018-12-03 08:43] jooyyy commented on #1805
Thank u, i get a right way by capture package from TronLink.  Just trigger contract it works!

[2018-12-03 08:43] #1805 closed

[2018-12-05 16:58] benjaminchencobinhood opened #1820 "Solidity node syncing performance."
I had upgrade my node to v3.2.0.
However I found my solidity node performance is not good.

When tps is more than 25 (about 75 tx in a block), the solidity node can not catch up to the latest block. It only sync less than 10 blocks per minute when the block contains a lot of tx.

Seems that building the index of solidity database slow down the solidity syncing.I need the getTransacitonbyID so I ca

[2018-12-06 03:57] emn178 opened #1821 "Can not get events of internal-transaction"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
Call contract A, A call contract B, B emits an event.
Try to use tronWeb.getEventResult and tronWeb.getEventByTransactionID.

2. What did you expect to see?
It should return events.

3. What did you see instead?
It return empty.

environment is shasta

[2018-12-06 06:38] jooyyy opened #1822 "How can i get data from https://api.trongrid.io/walletextension/gettransactionsfromthis in desc order?"
https://api.trongrid.io/walletextension/gettransactionsfromthis or xxxxtothis Api all in asc order, is there any way to get data in desc cause we need latest data usually.

[2018-12-06 09:14] emn178 opened #1824 "getnowblock return empty"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
I set up a full and solidity node of main net. I try to call full node
[code]
return empty
[code]
try to call solidity node
[code]
and it works
[code]

2. What did you expect to see?
both should return correct block.

3. What did you see instead?
empty result

[2018-12-06 09:22] emn178 commented on #1824
looks install wrong fullnode jar

[2018-12-06 09:22] #1824 closed

[2018-12-06 11:50] fyang1024 opened #1827 "Null Pointer Exception when deploying smart contract"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
Deploying a pretty standard TRC20 token to tron-quick-start docker image (v1.2.3) using tronbox.

2. What did you expect to see?
It should be deployed successfully.

3. What did you see instead?
A null pointer exception in the full node.

Here is the output
[code]

[2018-12-06 18:49] sullof commented on #1827
That is not likely an issue with java-tron.

@fyang1024#4857 When the broadcast returns true but the contract cannot be found, usually, the transaction failed. Run
[code]
to get info about the transation.

[2018-12-07 04:40] bitcodernull opened #1828 "solidity node error, stop at 4727894"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

solidity node error, can not sync

2. What did you expect to see?

sync

3. What did you see instead?

not sync
there are errors in log:
org.tron.core.exception.ReceiptCheckErrException: Different resultCode
	at org.tron.core.db.TransactionTrace.check(T

[2018-12-07 05:31] zhaohong commented on #1822
please ask this under trongrid project.  thanks.

[2018-12-07 05:32] #1822 closed

[2018-12-07 05:42] benjaminchencobinhood commented on #1828
Do you mean that the database of solidity can not be used anymore?
Or just update the binary to v3.2.1?

[2018-12-07 05:57] zhaohong commented on #1828
use binary v3.2.1 soliditynode and fullnode data.
Or you can use v3.2.1.1 soliditynode and soliditydata.
we will release 3.2.1.1 soon.

[2018-12-07 05:57] zhaohong commented on #1820
hi , in 3.2.2
the soliditynode and fullnode will be merged in one node.

[2018-12-07 06:01] bitcodernull commented on #1828
i have updated to  v3.2.1 and got the errors above

[2018-12-07 06:58] bitcodernull commented on #1828
i have updated to v3.2.1.1, the solidty node still can not sync
the error is the same as above

[2018-12-07 07:53] wmroar commented on #1828
I met this issue too
this tx resultCode in self: OUT_OF_ENERGY
07:40:35.616 ERROR [pool-10-thread-1] [o.t.c.d.Manager](Manager.java:878) Different resultCode
org.tron.core.exception.ReceiptCheckErrException: Different resultCode
        at org.tron.core.db.TransactionTrace.check(TransactionTrace.java:218)
        at org.tron.core.db.Manager.processTransaction(Manager.java:1053)
        at org.tron

[2018-12-07 08:20] zhaohong commented on #1828
please use fullnode data and use 3.2.1 code.

[2018-12-07 10:03] Yrp commented on #1828
We have solved this problem, please upgrade to [Odyssey-v3.2.1.2](https://github.com/tronprotocol/java-tron/releases/tag/Odyssey-v3.2.1.2)

[2018-12-09 09:02] myitlabro commented on #1828
Thank you ! I had the same issue like wmroar and after updating it started to work again.

[2018-12-09 19:41] sullof opened #1832 "The node won't work with 1 core"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

Run a private network on a VM with only 1 core.

2. What did you expect to see?

It should work.

3. What did you see instead?

It does not work.

If you look at the code at
https://github.com/tronprotocol/java-tron/blob/develop/src/main/java/org/tron/c

[2018-12-10 08:03] wusuimantou commented on #1828
不行，启动之后 获取节点一直都是nil，是因为节点配置改了吗？
Active peers
============
Other connected peers
============

16:03:37.500 INFO  [main] [o.t.c.n.n.NodeImpl](NodeImpl.java:701) other peer is nil, please wait ...
16:03:37.508 INFO  [pool-1-thread-1] [o.t.c.n.n.NodeImpl](NodeImpl.java:605) LocalNode stats:
============
MyHeadBlockNum: 0
advObjToSpread: 0
advObjToFetch: 0
advObjWeRequested: 0
unSyncNum: 0
blockWaitTo

[2018-12-12 04:40] zhaohong commented on #1832
thanks,   should process this more carefully.

[2018-12-12 06:16] zhaohong commented on #1828
@wusuimantou  could you please open a new issue and provide more information? thanks.

[2018-12-12 18:13] Shrey33 commented on #1832
Can you tell the impact ?

[2018-12-13 06:52] sullof commented on #1832
Honestly, I don't know.
But since I have been contacted by three people with the same issue on Discord, maybe the problem has more impact than what we can think.
Consider that those people were trying, in different ways, to create their own private network, 2 of them using Tron Quickstart, the other installing and running his own nodes.

BTW, the solution I proposed above worked in those cases but

[2018-12-18 13:08] UnforgivenZZZ opened #1858 "java.io error: too many file opened"
I deployed 3.2.1.2 or 3.2.2 nodes on AWS, and expose its http and grpc end point to public via aws load balancer

If I only register my instance in the target group that only accepts http requests, its fine

If I add the instance in to the target group that serving grpc services, it is showing too many file open error, and breaks all http services, but grpc services remaining workable.

Is there a

[2018-12-18 14:59] shequ123 commented on #1777
Thanks, that worked :)

[2018-12-19 07:46] k06a opened #1859 "TRC10 access from smart contract"
I see Odissey 3.2 have this ability but see nothing in documentation

[2018-12-19 08:38] olenheim opened #1860 "Optimize transaction's duplicate check logic"
This issue improves transaction duplicate check logic, Before 3.2.2  version when nodes check if one transaction is a duplicate transaction / double spending transaction we will check the whole transaction LevelDB store's transaction hash ID. This way's time complexity is O(n). By now our
total transaction count is over 100 million，it spends much time. We must find a way to shorten time complexity

[2018-12-20 03:13] #958 closed

[2018-12-20 07:03] ithinker1991 commented on #1859
You can refer to this doc
https://github.com/tronprotocol/Documentation/blob/master/English_Documentation/TRON_Virtual_Machine/TRC10_IN_SMARTCONTRACT.MD

[2018-12-20 08:25] wubin12 opened #1865 "Log Modularization"
Set logger's topic to module name, Easy to manage log levels for each module
#1863

[2018-12-20 09:29] WalkerBuldog opened #1867 "Transactions received by an address /walletextension/gettransactionstothis"
1. What did you do?
Make server as here
https://github.com/tronprotocol/Documentation/blob/master/TRX/Solidity_and_Full_Node_Deployment_EN.md
curl as

 curl -X POST  http://127.0.0.1:8091/walletsolidity/getaccount -d '{"address": "41E552F6487585C2B58BC2C9BB4492BC1F17132CD0"}'

curl -X POST  http://127.0.0.1:8091/walletsolidity/gettransactionbyid -d '{"value" : "35d006ad12e91e6672c1c4f4a1c284910d92

[2018-12-20 13:45] Ye841679636 opened #1868 "synchronization failed"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

two super node data synchronization

2. What did you expect to see?

two super nodes should sync blocks normally

3. What did you see instead?

I want to deploy two super nodes locally. I can only synchronize the first two pieces of information during t

[2018-12-20 14:31] k06a commented on #1859
Thanks, just implemented missing `sendToken` library: https://gist.github.com/k06a/71bdf3e8ea553e4086b50b7ba0a7a171

[2018-12-20 14:31] #1859 closed

[2018-12-21 02:47] ithinker1991 commented on #1868
Could you provide more infomation about this, like logs and your config

[2018-12-21 12:12] oartemis26 opened #1870 "unable to emit events with array as parameter"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

contract

[code]

tronweb

[code]

After I execute the scripts to trigger contracts function on shasta test network, it return the transaction id `f4fdf9a4251aa7a5b0116bb62341e75db24cdd7acb087e6d1da80396fa85978b`, and nothing else is printed on console.

[2018-12-24 07:24] wubin12 opened #1872 "Log profile (logback.xml) support command specifying"
Log config file (logback.xml) can be specified with program parameters, there is no need to recompile the java-tron project when modifying the log level.
#1871

test case
1: use --log-config param to specify logback.xml
e.x.   java -jar FullNode.jar --log-config logback.xml

[2018-12-24 07:46] wubin12 opened #1873 "Compatibility of backup & DUP_WITNESS"
Wrong backup operation can cause DUP_WITNESS leading to miss block, should solve the compatibility of backup & DUP_WITNESS
#1875

test case
1: DUP_WITNESS function regression test
2: Backup test:
    Continuous switching of master and slave node, Not triggering DUP_WITNESS leading to miss block

[2018-12-25 06:43] lvs007 commented on #1873
Can you write how the wrong can come out

[2018-12-25 06:52] wubin12 commented on #1873
[](url)

[2018-12-25 08:50] emn178 opened #1880 "tx.origin bug"
1. What did you do?
[code]

2. What did you expect to see?
result1 and result2 should be true if directly send tx.

3. What did you see instead?
result1 is false so that I can't verify `msg.sender == tx.origin`

[2018-12-25 08:54] Yrp commented on #1860
In order to improve the deduplication performance of the transaction, it is necessary to cache the transaction into the memory, and only judge whether the transaction exists in the cache, and no longer query the transaction in the database. According to the current growth trend, there will be billions of transactions in the future. So it is unrealistic to cache the full amount of transactions in m

[2018-12-26 09:44] alexkvak commented on #1867
@sullof could you provide some information about this issue?
Is it planned to be fixed?

[2018-12-26 10:16] Yrp opened #1884 "Improve the hard fork mechanism"
Hard forks are achieved by adding block versions to the block. When all SRs have produced this block of the version, the hard fork mechanism will take effect immediately.
If in the test network or other private chains, all SRs are producing high-level blocks, some hard-forked mechanisms that rely on low-level triggers will not take effect. We need a solution to solve this problem.

[2018-12-26 10:58] renchenchang commented on #1884
yes, this is a problem

[2018-12-26 18:34] sullof commented on #1867
@alexkvak I don't work on java-tron. That said, I suspect that that is not an issue with java-tron.
Since that API can take the entire resources for even 2 seconds, we disabled the walletextension api on TronGrid because was causing crashes on the service. If you need it that API, you must use your own solidity node.

[2018-12-26 18:38] sullof commented on #1867
I don't work on java-tron. Is that an issue with Tron Quickstart or with your own node?

[2018-12-26 19:06] sullof commented on #1870
@oartemis26 That is a problem with TronGrid. I have just replicated it and we are investigating.

[2018-12-27 03:58] Yrp commented on #1884
When all SRs have a higher version of the block, the hard fork triggered by the lower version block automatically takes effect.

[2018-12-27 06:30] alexkvak commented on #1867
@sullof oh, sorry. This issue only on full node. QuickStart works like a charm!

[2018-12-27 06:53] haidoan commented on #1380
in case some one need some real trx for testing, visit this channel and get 2 free trx.

[2018-12-28 07:08] #1865 closed

[2018-12-28 09:24] renchenchang opened #1889 "Need a new method of multi thread validating signature preValidateTransactionSign after supporting multi signature"
The permission in a account will be updated after a full node executes a UpdateAccountPermission transaction that broadcasted from rpc or other nodes. The status of level db will update too. Next this full node will receive a block which contains the same UpdateAccountPermission transaction. It will throw a ValidateSignatureException when  full node executes preValidateTransactionSign in handleBlo

[2018-12-28 09:30] Yrp commented on #1884
this is my solution. #1890

[2018-12-28 09:51] Yrp commented on #1860
this is my solution. #1891, I will update it continually

[2018-12-28 11:59] olenheim commented on #1889
can disscus multi-signuature （TRC16） here
https://github.com/tronprotocol/TIPs/issues/16

[2018-12-29 07:03] #1884 closed

[2019-01-02 05:57] chuang39 opened #1896 "Return array as output of function call"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

https://github.com/cyrusadkisson/solidity-baby-steps/blob/master/contracts/60_array_receiver_and_returner.sol

When I follow examples of solidity above to return array as output and deploy the contract, I get following error of contract deployment in Tr

[2019-01-03 10:02] wubin12 opened #1900 "Transaction cache should remove trace info"
Trace info occupy too much memory, affecting performance, should remove it.

pull request: #1892

test case
1:  Comparisons of memory usage between old and new versions, use the command below
jmap -histo:live $processId |head -50

[2019-01-03 11:30] Martis467 opened #1901 "Address generation problem"
I was trying to sign a transaction offline and then broadcast it and the response I'm getting is really weird.
`{
    "success": false,
    "code": "SIGERROR",
    "message": "validate signature error",
    "transaction": {
        "hash": "b3e56ab77b288499dccb033830e26de2636facbbac71f3e8fdfed55d6934e843",
        "timestamp": 1546513801186,
        "contracts": [
            {
                "am

[2019-01-03 11:31] k06a commented on #1859
@ithinker1991 do `transferToken` provide 2300 energy exactly as `transfer`? Is this functionality accessible from Solidity Assembly?

[2019-01-04 08:48] lazaridiscom opened #1910 "[DOCS] "MINIMUM 2 ENERGY Cores" ?"
The README is and introductional document, yet it mentions:

"MINIMUM 2 ENERGY Cores"

as a prerequisite.

What are "ENERGY Cores" ?

(clarify it, or remove it from the README)

[2019-01-04 09:01] ghost opened #1911 "[PROJECT] Revise README"
I tried to Evaluate java-tron, and expected to see a compact & concise README, focused on developers familiar with basic concepts (like shell, git etc.).

What I saw was a chaotic & verbose README

## New README

Something like

* Compact Intro, Pointer to User-Level Documentation
* Prerequisites
* Build, Test, Install, Run
* Further Info

I can provide a draft so you can see what I'm talking abou

[2019-01-05 00:54] ghost opened #1913 "[DOCS] Increase Contrast of Documentation Site"
I visited the documentation site https://developers.tron.network/docs/download-the-code and expected naturally a High Contrast Site (Black on White).

Instead, I saw a Low Constrast (Grey on White) with low readability.

## Solution

Increase the contrast.

Rationales: none (obvious)

[2019-01-05 07:18] Yrp commented on #1860
# Test case
1. Preload the transaction to the cache when the program starts. Is there a missing transaction in some blocks?
2. Transactions in the cache need to be deleted from low to high in strict block order, ie transactions in the lowest block height need to be deleted at all times
3. Transactions that are not queried in the cache must not be queried in the database
4. The transactions queried

[2019-01-07 09:15] lvs007 commented on #1889
1、When producing a block, the same account in each block can only contain one signature modified transaction. At the same time, the parallel verification needs to be moved before the transaction is executed.
PR: #1917
2、Do not modify the logic of the production block, only modify the logic of the parallel verification.
The transactions of different accounts are grouped. In the same account, as lon

[2019-01-07 09:19] lvs007 commented on #1889
The first method #1917  is simple to modify and difficult to introduce. The second method #1916 is complicated to modify, but it can effectively improve the efficiency of block execution. Considering the first method is more suitable #1917

[2019-01-07 09:32] lvs007 commented on #1889
Test case:
1、Only one transaction with the most account signature modification can be included in each block
2、If there are SR cheats, and each block has scored multiple signature modification transactions for the same account, then other nodes will fail to pass the verification.
3、A block can contain multiple transactions in the same account that are not signed modified.
4、Parallel verification c

[2019-01-09 12:03] KunkaYU opened #1920 "deploy contract error,out of energy"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
 I did this on shasta test network.
 I do have enough energy.
 I deployed a contract at fee_limit: 1000000000, which is Max
 this operation cost me about 800000 energy

2. What did you expect to see?

deploy successfully.

3. What did you see instead?

    "ret":[
        {
            "contractRet":"OUT_OF_EN

[2019-01-09 18:47] seelin opened #1921 "Gettransactionsfrom this API generates an error of "Error 405 HTTP method POST is not supported by this URL""
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
[code]
2. What did you expect to see?
the list of transaction history by address

3. What did you see instead?
[code]

[2019-01-09 18:56] seelin commented on #1867
I had the same error in my node too,How do I solve it?

[2019-01-10 04:14] XieWeiZM opened #1923 "use test_net_config.conf Block files are not updated"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

[code]

2. What did you expect to see?

Update block files to the latest

3. What did you see instead?

[2019-01-10 04:33] XieWeiZM commented on #1921
@seelin  Are you using https://api.trongrid.io?     May be  Version below v3.2

[2019-01-10 13:05] ghost opened #1926 "[DOCS] Cleanup the Wiki Project"
Visiting:

https://github.com/tronprotocol/wiki

it is unclear what this is about. The project is "archived", yet its still a pinned repo in the main overview (https://github.com/tronprotocol).

## Actions

* unpin the wiki project from https://github.com/tronprotocol
* close the open issues & PRs
* add a clarifying note to the README on top (e.g. "this repo is kept for archive purposes. The actua

[2019-01-10 23:28] zottirik opened #1927 "NOT_ENOUGH_EFFECTIVE_CONNECTION Problem"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
I am trying to sent TRX.

2. What did you expect to see?
Payment Raw Data.

3. What did you see instead?
NOT_ENOUGH_EFFECTIVE_CONNECTION

[2019-01-11 09:03] Jason-daex opened #1930 "Transcan Api"
Hello, I have installed java-tron, I want to use the following API, what should I do？
https://wlcyapi.tronscan.org/swagger/index.html
I want to use /api/transaction/{hash}

[2019-01-13 14:14] lazaridiscom opened #1935 "void"

[2019-01-15 11:14] alexkvak commented on #1921
I guess it's related to #1867

[2019-01-17 02:09] YG-FLUSH commented on #1927
I am suffering this problem too.

[2019-01-17 11:31] ithinker1991 opened #1945 "Create contract in constructor of child contract cause transaction failed"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
Create contract in constructor of child contract

2. What did you expect to see?
Revert or other exception. Not unknown exception

3. What did you see instead?

[2019-01-18 08:31] 1726431685 opened #1947 "java-tron怎么验证签名"
现有的verify方法需要三个参数，verify(byte[] data, byte[] signature, byte[] pub),有没有不通过公钥而是地址验证签名的方法呢

[2019-01-18 10:50] 1726431685 commented on #1947
help

[2019-01-18 12:17] yashbhavsar007 commented on #970
@balajivs96  How you managed to deploy contract on testnet ? have you tried through wallet_cli ?

[2019-01-20 20:59] lazaridiscom commented on #1947
No help here. This repo is dead.

[2019-01-21 05:36] yashbhavsar007 commented on #1947
Is there any other community or group where tron developer still alive ? Because in github they are not solving any issues!

[2019-01-21 12:01] 1726431685 commented on #1947
I think tron code is so sucks!

[2019-01-21 12:15] yashbhavsar007 commented on #1947
Hi @1726431685 i have found a way to reach tron community via discord !

[2019-01-21 12:18] 1726431685 commented on #1947
Wow,what's that?

[2019-01-21 19:30] lazaridiscom commented on #1947
#171

[2019-01-22 02:40] zjb0807 opened #1954 "transaction don't broadcast to other peer"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
[code]
when effective connection > 0, broadcast transaction will return successfully, but don't broadcast transaction to other peer.
After a while,  the new transaction will broadcast successfully，but the old transaction still in mempool.

2. What did yo

[2019-01-23 02:58] yopoing commented on #1921
我也是遇到这个问题，没有解决办法吗？

[2019-01-23 02:59] yopoing commented on #1867
我也遇到这个问题，没有解决办法了吗？只有自己同步数据来做查询交易历史记录的接口了么？

[2019-01-23 18:57] zottirik commented on #1927
Is there anybody who knows this issue?

[2019-01-24 00:27] UnforgivenZZZ opened #1963 "why org.tron.common.utils.ForkController has hard folk check"
in the file org.tron.common.utils.ForkController,
there is a function
  private boolean checkForEnergyLimit() {
    long blockNum = manager.getDynamicPropertiesStore().getLatestBlockHeaderNumber();
    return blockNum >= 4727890L;
  }
this block height check prevent some proposal creation such like allow delegate resource for
some private test net

is there a reason to hard coded the block height

[2019-01-28 11:40] fanyangyang commented on #621
i send a transfer through https://tronscan.org,  and then query the transfer's detail, i got this below
[code]
this transaction do not have  raw_data.timestamp.
can you tell me if the filed raw_data.timestamp is always be there for validation?
or just one filed raw_data.expiration is enough.

[2019-01-28 12:17] taihaofu opened #1973 "Unknown Exception for VM internal transaction is not precise enough."
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
When throw an bytecodeexecution exception in vm, an unknown exception would like to be thrown to the transaction, which is not precise enough to tell the user what is going wrong in an smart contract execution.
2. What did you expect to see?
More informa

[2019-01-29 04:55] niharrs opened #1975 "Shasta Tron Explorer Not Showing Correct Information. Account balance mismatch!!"
My wallet address is: TNzXJre2SwiYD6nCs8wHVga6W84gdPx8UQ

I have 20,000 TRX according to the chrome extension and 0 TRX according to [](https://shasta.tronscan.org/#/account)

PS. I am talking about Shasta testnet.

<img width="950" alt="screenshot 2019-01-29 at 10 24 59 am" src="https://user-images.githubusercontent.com/24189168/51885103-25fc0380-23b0-11e9-9229-9a3fb495773c.png">
<img width="387"

[2019-01-30 05:33] yashbhavsar007 commented on #1975
How could you say that it's existing if it's not showing in explorer is it showing balance in tron-link ?
@niharrs

[2019-01-30 05:37] yashbhavsar007 commented on #1975
is this account in your tron-link ?

[2019-01-30 05:38] niharrs commented on #1975
Yes. Using it on Shasta.
On 30 Jan 2019, 11:07 AM +0530, Yash Bhavsar <notifications@github.com>, wrote:

[2019-01-30 05:39] yashbhavsar007 commented on #1975
oh noticed that  ! such a strange thing !

[2019-01-30 05:40] niharrs commented on #1975
Do you have any idea what's going wrong? Am I doing something wrong or is it some glitch in TRON?

[2019-01-30 05:41] yashbhavsar007 commented on #1975
i think this strange thing going because you must not created account by tron link on shasta testnet. you have imported account by private key right ?

[2019-01-30 05:51] yashbhavsar007 commented on #1975
![screenshot 2019-01-30 at 11 20 25 am](https://user-images.githubusercontent.com/26292780/51960951-139dca80-2481-11e9-9346-20ccb69fca83.png)
 This might finally give answer to your question.

[2019-01-30 05:53] niharrs commented on #1975
I don’t think this is the case because this account was created hours ago. Tron claims itself to be faster than Ethereum.. I dont think syncing is an issue.
On 30 Jan 2019, 11:21 AM +0530, Yash Bhavsar <notifications@github.com>, wrote:

[2019-01-30 06:05] yashbhavsar007 commented on #1975
Faster than ethereum in transactions but not in syscing....because synchronization is not based on transactions

[2019-01-30 10:39] yashbhavsar007 commented on #1975
As I have tested on shasta testnet it shows old data only not updated data(no newly created transactions) that means that it has some issues in syncing data.

[2019-01-30 10:44] niharrs commented on #1975
Which is a huge issue, in my opinion.

On Wed, 30 Jan 2019 at 4:09 PM, Yash Bhavsar <notifications@github.com>
wrote:

--
Sent from my iPhone

[2019-01-30 10:45] yashbhavsar007 commented on #1975
yes definitely a huge issue because developers support is also rare in github !

[2019-01-30 10:46] yashbhavsar007 commented on #1975
Why don't you try by running own private node

[2019-01-31 19:32] Crypto2 opened #1982 "How to sign asset transfer with passphrase from createAddress?"
Looking at the docs I don't see a way to sign an asset transfer when using addresses made using a passphrase with createAddress? I see /wallet/easytransfer for the main coin which we use but not a /wallet/easytransferasset

And I did see /wallet/transferasset but no function so be able to sign it with the passphrase, only via private keys which we don't have since we used createAddress.

So TLDR I

[2019-02-02 09:37] CTJaeger opened #1984 "Missing query of get votelist by address"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.

2. What did you expect to see?
A very important feature is missing here. How can an SR / SRC view its voters without accessing third party vendors? This is important!

3. What did you see instead?
Nothing.

[2019-02-05 16:00] #1982 closed

[2019-02-06 23:24] sunjonteam2535 commented on #1975
Llll

[2019-02-13 13:27] zychappy opened #1985 "gradlew build failed in mac"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
build the latest master branch
./graldew build

2. What did you expect to see?
build success

3. What did you see instead?

[Fatal Error] objenesis-parent-2.6.pom:513:7: The markup in the document following the root element must be well-formed.

[2019-02-13 15:22] joadr commented on #1935
I totally agree, It's very difficult to work with TRON at the moment because of the documentation.

[2019-02-13 16:24] lazaridiscom commented on #1935
The other problem is that the public project resources are essentially dead, there are near-zero responses to issues:

https://github.com/search?q=org%3Atronprotocol+author%3Alazaridiscom&type=Issues

General overview of tron:

https://github.com/lazaridiscom/dapp-platform/issues/5

[2019-02-13 22:56] joadr commented on #1935
I've been able to get help on their discord channel. Is very active and developers are very willing to help.

[2019-02-13 23:07] taiyangc commented on #1935
@lazaridiscom As stated on the first line of the README:

Please visit the new [TRON Developers Hub](https://developers.tron.network/) for detailed guides, interactive APIs, and much more!

The new guides are more organized and up-to-date.

[2019-02-13 23:40] lazaridiscom commented on #1935
Well, and at the same time they do not process the open issues (which has always priority over chat-talk). I call this "amateurs to the bones".

The Tron CEO is busy to play "Clown-Wars" with Buterin on Twitter, instead of setting up a rule-system which ensures that this repo here does not feel like its dead.

@taiyangc , you want to confirm my point?

When new documentation supersedes the old one

[2019-02-14 10:44] rickshenjp opened #1986 "The assert function in contract Will cost huge Energy"
The assert function in contract  like this:
`
function mul(uint256 a, uint256 b) internal pure returns (uint256)
{
        if (a == 0) {
            return 0;
        }
        uint256 c = a * b;
        assert(c / a == b);
        return c;
}
`
When the function trigger assert(false) , it will be cost all Energy up to fee_limit

[2019-02-15 05:54] rickshenjp opened #1987 "struct energy cost problem in TRON/solidity Odyssey_v3.2"
I found some struct energy cost problem in TRON/solidity Odyssey_v3.2:

[code]
When I store one order10 into orderMap, it will cost about 45000 Energy
But in other version, it only cost about 25000 Energy

And when I change one existed order, in TRON/solidity Odyssey_v3.2 it will cost about 30000 Energy
But in other version it only cost about 5300 Energy

[2019-02-18 01:52] zhangsj opened #1988 "[VM](VM.java:1327) VM halted: [Not enough energy for"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
在一台4核16G的ubuntu上运行fullnode，日志显示
:50:19.482 INFO  [pool-8-thread-1] [VM](VM.java:1327) VM halted: [CPU timeout for 'PUSH1' operation executing]
09:50:19.482 INFO  [pool-8-thread-1] [Runtime](RuntimeImpl.java:637) timeout: CPU timeout for 'PUSH1' operation

[2019-02-18 08:18] lishuo5263 opened #1990 "Transfer TRC10 Failure"
Please answer these questions before submitting your issue. Thanks!

- Here is my executed log , I fllow [offcial document direction](https://developers.tron.network/docs/api-sign-flow#wallets-accounts)，and use offcial recommend Full Node to executed api.

1.MakeTransfer

**- `curl -X POST  http://54.236.37.243:8090/wallet/transferasset -d '{"owner_address":"412a11aadd8fd2ee249db7d9cb8e820baeb645b

[2019-02-19 13:05] antechdemo opened #1994 "'getnowblock' rpc api nodes not return block number"
Please answer these questions before submitting your issue. Thanks!

1. Get latest block number

curl -X POST http://0.0.0.0:8090/wallet/getnowblock -d '{}'

Response:

{"blockID":"0000000000000000aef2b414e81fa65bf40fe96c1f2caeb81ba53ec63e0bc87c","block_header":{"raw_data":{"txTrieRoot":"e9da61a422ace90360c92f73e4eb5bec489b595d1978550741e1ffe7f3acacfe","witness_address":"41206e65772073797374656d20

[2019-02-19 20:32] Wheaties466 opened #1995 "cannot change log level"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
I built it an got it up and working sucessfully but I cannot get it to respect the log level in the config file. I have even tried changing the log level in logback.xml files to all ERROR instead of info. This did not help either. Suggestions appreciated

[2019-02-20 05:28] antechdemo opened #1996 "My Fullnode block height stays at 0 and is out of sync"
Please answer these questions before submitting your issue. Thanks!

Hi,
I started tron as FullNode on my server.
The error is saw in logs is -
05:23:42.718 INFO  [TronJClientWorker-6] [net](TronChannelInitializer.java:72) Close channel:/47.89.188.162:18888 | dda486f3a75c5ac599df25f99bd2b2090bf1ab763d64f0bf539f6d7206f01f156d1d76aee6648cb12c584bc15d8eabdde4627f0e3acb527508a48012b79df518
05:23:42.72

[2019-02-20 09:11] #1994 closed

[2019-02-20 09:12] #1996 closed

[2019-02-21 03:36] #1990 closed

[2019-02-21 09:53] rabbitHX opened #2001 "cpu 资源 安全问题"
阅读了下java-tron的代码，有个疑惑：
  代码的逻辑：如果用户质押的cpu资源不足，而且账户中也没有足够的trx用来抵扣，那么这个交易会被丢弃。
  问题是：这样的话如果有人恶意攻击，调用合约接口，每次都因为资源、余额不足而失败，交易被丢弃。这个人可以一直这样发送恶意请求而没有任何惩罚，请问这个问题有没有考虑？

[2019-03-01 12:31] antechdemo opened #2024 "Node stuck at block 370594, reinstall + resync many times not work"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
    * My Fullnode sync normally until block `370594` it just stuck there.
2. Related Issues
    * #1625
    * #1619
But not getting any solution in my case.

[2019-03-01 21:48] argjv commented on #1181
Can't find any documentation about the recently added multisig feature. Is there any example on how to create a multisig account and transaction?

[2019-03-05 08:28] ProtonGustave opened #2030 "Tron event subscribe doesn't show all events."
When i query tronix it doesn't show all occured events, only emited from origin address.
Example tx: `dce2c34aaa4e29192664077343ab080d29cb22652e232f3c6039aac7efed04bf`
There should be 2 events: from origin contract `TXYPSZP4fSQ2YKzQkdW6YsYnCD5u25jGNM`, then that contract call function in another contract `TXBfEmDocfWJSfNaqVBCDdfpctrx6epXXv` and it emit event too. I can only see event from origin a

[2019-03-06 12:55] jeancky commented on #2030
After fully check the transaction info of tx "dce2c34aaa4e29192664077343ab080d29cb22652e232f3c6039aac7efed04bf". We found that it was before MainNet version 3.5 deployed.

The 3.5 version has supported event parser for contract calls contract. And the previous version did not.

You may check this kind of events again now (but not the same transaction, since it won't change).

[2019-03-07 09:56] varshakhandre14 commented on #1927
I am getting this error when trying to deploy a smart contract on the private network.

[2019-03-07 10:14] varshakhandre14 opened #2033 "ERROR: NOT_ENOUGH_EFFECTIVE_CONNECTION (effective connection:0 lt minEffectiveConnection:1) while broadcasting the transaction to create the contract Migrations"
Please answer these questions before submitting your issue. Thanks!

1. What did you do?
If possible, provide a recipe for reproducing the error.
Trying to migrate a smart contract on private node network using command
`tronbox migrate --reset --network development`

2. What did you expect to see?
Sucessful migration to network

3. What did you see instead?

[2019-03-07 10:28] CarilKing commented on #2024
me too, My Fullnode normally until block 5094012

[2019-03-07 18:10] ProtonGustave commented on #2030
@jeancky when was approximately 3.5 version deployed?

[2019-03-08 04:58] zhaohong commented on #2024
could you please provide your conf file?

[2019-03-08 05:05] jeancky commented on #2030
It has been deployed. About one day after your transaction take place.

[2019-03-08 05:09] #1973 closed

[2019-03-08 05:15] jeancky commented on #1920
@KunkaYU Have you solved this problem. If not, may I have a look at your contract's  construct code.

[2019-03-08 05:16] jeancky commented on #1711
Tron scan has support this feature now

[2019-03-08 05:16] #1711 closed

[2019-03-08 05:16] #1710 closed

[2019-03-08 05:16] #1777 closed

[2019-03-08 05:24] jeancky commented on #1988
That means a CPU Timeout Error has token place.
Many reason could cause this error, complex contract or other abnormal situation, such as java gc just happened when the wittiness processing this transaction.

we would like to have a look at your solidity code to make sure.

[2019-03-08 05:28] jeancky commented on #1986
@rickshenjp   According to the Solidity document, Assert error will take all your energy as you claimed if the condition is false.

We suggest you use Required instead of Assert.

[2019-03-08 05:28] #1986 closed

[2019-03-08 05:30] jeancky commented on #1821
The tron scan has supported this feature.

[2019-03-08 05:36] jeancky commented on #2001
We have considered this. The transaction you described wouldn't be dropped. It will only execute as many instructions as your energy would cover. So, it is not an attack.

[2019-03-08 05:36] #2001 closed

[2019-03-08 05:43] #621 closed

[2019-03-08 05:46] #1945 closed

[2019-03-08 05:49] jiangyy0824 commented on #2033
Hi, it seems that your private network has only one fullnode. In wallet.java, Fullnode will check whether it has more than one active peer node . If the count is 0, fullnode will return NOT_ENOUGH_EFFECTIVE_CONNECTION.

To continue your work, please comment the code below and rebuild java-tron.

Thanks.

if (minEffectiveConnection != 0) {
        if (p2pNode.getActivePeer().isEmpty()) {

[2019-03-08 06:38] lvs007 opened #2035 "Implement the account world state tree"
Now it's hard to compare the consistency of each account database, so add the account world status tree root to the block header. The purpose is to verify the consistency of the entire account.

[2019-03-08 06:41] lvs007 commented on #2035
we can introduced the Ethereum's world state tree model
At a certain height, the witness node starts to generate the root of the account status tree, and then adds the root to the block header. The subsequent block will generate a new account status tree with the account status tree in the previous block header as the root.
The nodes of other blocks will generate a new world state tree root accord

[2019-03-08 06:48] lvs007 commented on #2035
can disscus Implement the account world state tree （TRC23） here
tronprotocol/TIPs#23

[2019-03-08 06:50] lvs007 commented on #2035
Implement PR: #2034

[2019-03-08 09:43] #1947 closed

[2019-03-08 16:45] CarilKing commented on #2024
https://github.com/tronprotocol/tron-deployment/blob/master/main_net_config.conf

[2019-03-08 16:45] CarilKing commented on #2024
https://github.com/tronprotocol/tron-deployment/blob/master/main_net_config.conf

[2019-03-09 11:29] #1821 closed

[2019-03-09 11:51] dmerniestic1987 opened #2037 "Can I call TRON (TRX) smart contracts with Java? -- Similar to web3j on Ethereum"
Hello everybody!
I am developing a native Android java application and I need to call some transactions of an smart contracts written in Solidity. Can I do this with native Android App?
In another project for web3j to call contracts with java classes, is there something similar for TRON (TRX)?
If there is no similar project, can I invoke the methods of a smart contract with tron-web?
Thanks!

[2019-03-09 12:39] jeancky commented on #2037
Tron has no projects like web3j yet.

But you can communicate with a Tron Fullnode via the grpc api. Here is a PC end wallet-client which can trigger smart contracts:
https://github.com/tronprotocol/wallet-cli

You may find useful example there.

[2019-03-09 14:42] dmerniestic1987 commented on #2037
Thanks!!!!

[2019-03-11 03:14] jiangyy0824 commented on #1995
@Wheaties466 The log level is defined in logback.xml. Please set the root level to "ERROR" if you want to filter only error logs. Please refer to the configuration below.

<root level="ERROR">

    <appender-ref ref="ASYNC"/>
  </root>

  <logger name="app" level="ERROR"/>
  <logger name="net" level="ERROR"/>
  <logger name="backup" level="ERROR"/>
  <logger name="discover" level="ERROR"/>
  <logg

[2019-03-11 03:21] jiangyy0824 commented on #1985
@zychappy Sorry for your inconvenience. Please try again with "./gradlew clean", if fails again. Please check whether your configuration is right. Thanks.

[code]

[2019-03-11 03:49] jiangyy0824 commented on #1963
@UnforgivenZZZ The blockNum for energy limit check  could be configured. Please add the configuration below in your config file. Thanks!

enery.limit = {
    block.num = 111 // the blocknumber to specify
}

[2019-03-11 03:52] jiangyy0824 commented on #1954
@zjb0807 This is by design. "minEffectiveConnection" means that you should have more than 1 active peer in your private network. Please set "minEffectiveConnection" to 0 in your config. It should solve your issue. Thanks

rpc {
    port = 50051
    #solidityPort = 50061
    # Number of gRPC thread, default availableProcessors / 2
    # thread = 16

    # The maximum number of concurrent calls perm

[2019-03-11 03:54] jiangyy0824 commented on #1927
@zottirik This is by design. "minEffectiveConnection" means that you should have more than 1 active peer in your private network. Please set "minEffectiveConnection" to 0 in your config. It should solve your issue. Thanks!

rpc {
port = 50051
#solidityPort = 50061
# Number of gRPC thread, default availableProcessors / 2
# thread = 16

# The maximum number of concurrent calls permitted for each inc

[2019-03-11 04:24] jiangyy0824 commented on #1923
@XieWeiZM Please use "https://raw.githubusercontent.com/tronprotocol/tron-deployment/master/test_net_config.conf". Full node works fine in our local environment.

[2019-03-11 04:35] antechdemo commented on #2024
could you please provide your conf file?

https://github.com/tronprotocol/tron-deployment/blob/master/test_net_config.conf

[2019-03-11 05:35] jiangyy0824 commented on #1910
@lazaridiscom Thanks for your correction. It should be 2 CPU cores. We will fix it right now.

[2019-03-11 05:40] jiangyy0824 commented on #2033
Set "minEffectiveConnection" from 1 to 0 could solve your issue.

rpc {
    port = 50051
    #solidityPort = 50061
    # Number of gRPC thread, default availableProcessors / 2
    # thread = 16

    # The maximum number of concurrent calls permitted for each incoming connection
    # maxConcurrentCallsPerConnection =

    # The HTTP/2 flow control window, default 1MB
    # flowControlWindow =

[2019-03-11 05:42] #1985 closed

[2019-03-11 05:45] jiangyy0824 commented on #2024
Could you please provide:
1 tron.log or the related error messages;
2 code branch.

Then we can try to figure out the root cause.
Thanks a lot!

[2019-03-11 05:54] #2033 closed

[2019-03-11 05:54] #1954 closed

[2019-03-11 05:54] #1927 closed

[2019-03-11 05:55] #1910 closed

[2019-03-12 03:26] zhaohong commented on #2037
sure, we provide gRpc api.

[2019-03-12 03:36] #2037 closed

[2019-03-12 09:27] DNK90 commented on #2024
I also got stuck at 370594. I Tried delete out_directory but it didn't work.
1. I am using master
2. this is my log
[tron.log.zip](https://github.com/tronprotocol/java-tron/files/2956014/tron.log.zip)